<div id="collapsed-header" ng-show="header.showCollapsed" ng-click="header.showCollapsed = false">
  <img src="/assets/images/close-icon-light.png" alt="Close icon" title="Close menu" id="nav-close" />
  <ul id="collapsed-nav">
    <li ng-repeat="(item, link) in navItems"><a href="{{ link }}">{{ item }}</a></li>
  </ul>
</div>

<div ng-if="currentPage == ''" id="header" class="hero" particle-network>
  <div id="navigation">
    <a id="nav-home" href="/">
      <img id="nav-logo-large" src="/assets/images/logo-inline-light.png" alt="CSS Bristol logo" />
      <img id="nav-logo-small" src="/assets/images/logo-small-light.png" alt="CSS Bristol logo" />
    </a>
    <ul id="nav-links" class="clear">
      <li ng-repeat="(item, link) in navItems"><a href="{{ link }}">{{ item }}</a></li>
      <li id="nav-open" ng-click="header.showCollapsed = true" ng-show="!header.showCollapsed"><img src="/assets/images/menu-icon-light.png" alt="Menu icon" title="Open menu" /></li>
    </ul>
  </div>
  <div id="strapline">
    <div id="strapline-content">
      <div id="strap-top">University of Bristol</div>
      <div id="strap-centre">Computer Science Society</div>
      <a class="btn btn-light" href="/about">About us</a>
    </div>
  </div>
</div>

<div ng-if="currentPage != ''" id="header">
  <div id="navigation">
    <a id="nav-home" href="/">
      <img id="nav-logo-large" src="/assets/images/logo-inline-light.png" alt="CSS Bristol logo" />
      <img id="nav-logo-small" src="/assets/images/logo-small-light.png" alt="CSS Bristol logo" />
    </a>
    <ul id="nav-links" class="clear">
      <li ng-repeat="(item, link) in navItems"><a href="{{ link }}">{{ item }}</a></li>
      <li id="nav-open" ng-click="header.showCollapsed = true" ng-show="!header.showCollapsed"><img src="/assets/images/menu-icon-light.png" alt="Menu icon" title="Open menu" /></li>
    </ul>
  </div>
</div>


