<div class="section gradient-up" id="intro-section" style="margin-bottom:0">
  <div class="inner-section">
    <div class="section-title">Job openings</div>
    <div class="section-content clear">
      <p>
      As part of our ongoing commitment to represent students' interests and provide them with the tools to succeed, we advertise exclusive job openings to our members.
      </p>
      <p>
      Interested in advertising a position? <a href="mailto:president@cssbristol.co.uk" target="_blank">Get in touch</a>.
      </p>
    </div>
  </div>
</div>

<div isotope-wrapper isotope-container="#job-section .section-content" isotope-selector=".job-item">

<div class="section" id="sort-section">
  <div class="inner-section">
    <div class="section-content clear">

      <div id="sort-block">
        <span>Sort by</span>
        <ul>
          <li ng-class="currSort == 'order' ? 'active' : ''" ng-click="sortBy('order')">Recent</li>
          <li ng-class="currSort == 'deadline' ? 'active' : ''" ng-click="sortBy('deadline')">Deadline</li>
        </ul>
      </div>

      <div id="search-block">
        <input type="text" placeholder="Search" ng-model="searchInput" ng-change="textFilter()" />
      </div>
    
    </div>
  </div>
</div>

<div class="section" id="filter-section">
  <div class="inner-section">
    <div class="section-content">

      <ul id="filter-block">
        <li ng-class="currFilter == '' ? 'active' : ''" ng-click="filterBy()" title="All offers">All</li>
        <li ng-class="currFilter == 'yr1' ? 'active' : ''" ng-click="filterBy('yr1')" title="Year 1 accepted">Yr 1</li>
        <li ng-class="currFilter == 'yr2' ? 'active' : ''" ng-click="filterBy('yr2')" title="Year 2 accepted">Yr 2</li>
        <li ng-class="currFilter == 'yr3' ? 'active' : ''" ng-click="filterBy('yr3')" title="Year 3 accepted">Yr 3</li>
        <li ng-class="currFilter == 'yr4' ? 'active' : ''" ng-click="filterBy('yr4')" title="Year 4 accepted">Yr 4</li>
        <li ng-class="currFilter == 'pg' ? 'active' : ''" ng-click="filterBy('pg')" title="Postgrad accepted">Postgrad</li>
      </ul>
    
    </div>
  </div>
</div>

<div class="section" id="job-section">
  <div class="inner-section">
    <div class="section-content clear">

      <a ng-repeat="job in jobs.jobList" class="job-item {{ :: job.allowed.join(' ') }}" href="#" data-job-created="{{ :: job.created }}" data-job-deadline="{{ :: job.deadline }}" event-on-finish="isotopeReady">
        <div class="job-logo">
          <img ng-src="/assets/images/ind-jobs/{{ :: job.logo }}" alt="Job logo" />
        </div>
        <div class="job-name">{{ :: job.name }}</div>
        <div class="job-company job-meta" title="Company">{{ :: job.company }}</div>
        <div class="job-location job-meta" title="Location">{{ :: job.location }}</div>
        <div class="job-date job-meta" title="Date/duration">{{ :: job.date }}</div>
        <div class="job-deadline job-meta" title="Deadline" ng-if="job.deadline">{{ :: job.deadline | date: 'MMM d, h:mma' }}</div>
        <div class="job-tags job-meta" title="Tags"><span ng-repeat="tag in job.tags">{{ :: tag }}</span></div>
      </a>

    </div>
  </div>
</div>

</div>