<div class="section gradient-up" id="intro-section" style="margin-bottom:0">
  <div class="inner-section">
    <div class="section-title">Job openings</div>
    <div class="section-content clear">
      <p>
      As part of our ongoing commitment to represent students' interests and provide them with the tools to succeed, we advertise exclusive job openings to our members.
      </p>
      <p>
      Interested in advertising a position? <a href="mailto:president@cssbristol.co.uk" target="_blank">Get in touch</a>.
      </p>
    </div>
  </div>
</div>

<div class="section" id="sort-section">
  <div class="inner-section">
    <div class="section-content clear">

      <div id="sort-block">
        <span>Sort by</span>
        <ul>
          <li class="active">Recent</li>
          <li>Deadline</li>
        </ul>
      </div>

      <div id="search-block">
        <input type="text" placeholder="Search by tag" />
      </div>
    
    </div>
  </div>
</div>

<div class="section" id="filter-section">
  <div class="inner-section">
    <div class="section-content">

      <ul id="filter-block">
        <li class="active">All</li>
        <li>Yr 1</li>
        <li>Yr 2</li>
        <li>Yr 3</li>
        <li>Yr 4</li>
        <li>Postgrad</li>
      </ul>
    
    </div>
  </div>
</div>

<div class="section" id="job-section">
  <div class="inner-section">
    <div class="section-content clear" isotope isotope-selector=".job-item">

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/1.png" alt="Job logo" />
        </div>
        <div class="job-name">Software Engineering Internship</div>
        <div class="job-company job-meta" title="Company">Bloomberg</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Big Data</span><span>Data Mining</span><span>Internship</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/2.jpg" alt="Job logo" />
        </div>
        <div class="job-name">Agribusiness/tech Summer Intern Programme</div>
        <div class="job-company job-meta" title="Company">Rabobank</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Internship</span><span>Agriculture</span><span>Statistics</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/3.png" alt="Job logo" />
        </div>
        <div class="job-name">Machine Learning Research Fellowship</div>
        <div class="job-company job-meta" title="Company">University of Bristol</div>
        <div class="job-location job-meta" title="Location">Bristol</div>
        <div class="job-date job-meta" title="Date">ASAP</div>
        <div class="job-tags job-meta" title="Tags"><span>Research</span><span>Postgrad</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/1.png" alt="Job logo" />
        </div>
        <div class="job-name">Software Engineering Internship</div>
        <div class="job-company job-meta" title="Company">Bloomberg</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Big Data</span><span>Data Mining</span><span>Internship</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/2.jpg" alt="Job logo" />
        </div>
        <div class="job-name">Agribusiness/tech Summer Intern Programme</div>
        <div class="job-company job-meta" title="Company">Rabobank</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Internship</span><span>Agriculture</span><span>Statistics</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/3.png" alt="Job logo" />
        </div>
        <div class="job-name">Machine Learning Research Fellowship</div>
        <div class="job-company job-meta" title="Company">University of Bristol</div>
        <div class="job-location job-meta" title="Location">Bristol</div>
        <div class="job-date job-meta" title="Date">ASAP</div>
        <div class="job-tags job-meta" title="Tags"><span>Research</span><span>Postgrad</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/1.png" alt="Job logo" />
        </div>
        <div class="job-name">Software Engineering Internship</div>
        <div class="job-company job-meta" title="Company">Bloomberg</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Big Data</span><span>Data Mining</span><span>Internship</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/2.jpg" alt="Job logo" />
        </div>
        <div class="job-name">Agribusiness/tech Summer Intern Programme</div>
        <div class="job-company job-meta" title="Company">Rabobank</div>
        <div class="job-location job-meta" title="Location">London</div>
        <div class="job-date job-meta" title="Date">Summer 2016</div>
        <div class="job-deadline job-meta" title="Deadline">1st Jan 2016</div>
        <div class="job-tags job-meta" title="Tags"><span>Internship</span><span>Agriculture</span><span>Statistics</span></div>
      </a>

      <a class="job-item" href="#">
        <div class="job-logo">
          <img src="/assets/images/ind-jobs/3.png" alt="Job logo" />
        </div>
        <div class="job-name">Machine Learning Research Fellowship</div>
        <div class="job-company job-meta" title="Company">University of Bristol</div>
        <div class="job-location job-meta" title="Location">Bristol</div>
        <div class="job-date job-meta" title="Date">ASAP</div>
        <div class="job-tags job-meta" title="Tags"><span>Research</span><span>Postgrad</span></div>
      </a>
    
    </div>
  </div>
</div>