---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Width of the content area
$content-width:   1000px;
$on-palm:         900px;
$on-laptop:       1000px;

// Colours
$light-grey:      #f0f0f0;
$dark-text:       #222222;
$medium-text:     #666666;

$purple:          #9b59b6;
$green:           #2ecc71;
$red:             #e74c3c;
$blue:            #3498db;
$orange:          #ea5d00;
$turquoise:       #1abc9c;
$yellow:          #f39c12;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "meyer-reset",
        "fonts",
        "sections",
        "articles",
        "blog-posts",
        "job-posts",
        "components",
        "home",
        "blocks",
        "calendar",
        "nav",
        "syntax-highlighting"
;
