<div class="section gradient-up" id="intro-section">
  <div class="inner-section">
    <div class="section-title">Hi there, we're CSS Bristol!</div>
    <div class="section-content clear">
      <p>
      CSS is the official Computer Science Society at the University of Bristol, run by students, for students. We represent all the students within our department, organise social events and industry talks, run a mentor scheme, advertise jobs openings exclusive to our students, and much more!
      </p>
      <p>
      This website is our society's hub: feel free to read our user-submitted tutorials and student blogs, see what we're up to on our social media presences, and get updates on society news and events.
      </p>
      <p>
      To get in touch, please e-mail the relevant committee position below. To report an issue with the website, the source code of which is freely available on <a href="https://github.com/cssbristol/cssbristol.github.io" target="_blank">GitHub</a>, please submit an issue <a href="https://github.com/cssbristol/cssbristol.github.io/issues" target="_blank">here</a>. See you around!
      </p>
    </div>
  </div>
</div>

<div class="section" id="committee-section">
  <div class="inner-section">
    <div class="section-title">The committee</div>
    <div class="section-content clear">

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/president.jpg" alt="President image" />
        <div class="item-name">Alexis Monks</div>
        <div class="item-position">President</div>
        <a class="item-email" href="mailto:president@cssbristol.co.uk" target="_blank">president@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/vp.jpg" alt="Vice-president image" />
        <div class="item-name">Alexander Hill</div>
        <div class="item-position">Vice-president</div>
        <a class="item-email" href="mailto:vp@cssbristol.co.uk" target="_blank">vp@cssbristol.co.uk</a>
      </div>

      <div class="committee-item last-item">
        <img src="/assets/images/contrib/committee/secretary.jpg" alt="Secretary image" />
        <div class="item-name">Georgiana Ginghina</div>
        <div class="item-position">Secretary</div>
        <a class="item-email" href="mailto:secretary@cssbristol.co.uk" target="_blank">secretary@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/events.jpg" alt="Events Officer image" />
        <div class="item-name">Myles Bell</div>
        <div class="item-position">Events</div>
        <a class="item-email" href="mailto:events@cssbristol.co.uk" target="_blank">events@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/default.png" alt="Equality Officer image" />
        <div class="item-name">Vacant</div>
        <div class="item-position">Equality &amp; Diversity</div>
        <a class="item-email" href="mailto:equality@cssbristol.co.uk" target="_blank">equality@cssbristol.co.uk</a>
      </div>

      <div class="committee-item last-item">
        <img src="/assets/images/contrib/committee/default.png" alt="Press Officer image" />
        <div class="item-name">Vacant</div>
        <div class="item-position">Press</div>
        <a class="item-email" href="mailto:press@cssbristol.co.uk" target="_blank">press@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/treasurer.jpg" alt="Treasurer image" />
        <div class="item-name">Hakeem Kushoro</div>
        <div class="item-position">Treasurer</div>
        <a class="item-email" href="mailto:treasurer@cssbristol.co.uk" target="_blank">treasurer@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/outreach.jpg" alt="Outreach Officer image" />
        <div class="item-name">Luke Storry</div>
        <div class="item-position">Outreach</div>
        <a class="item-email" href="mailto:outreach@cssbristol.co.uk" target="_blank">outreach@cssbristol.co.uk</a>
      </div>

      <div class="committee-item last-item">
        <img src="/assets/images/contrib/committee/sports.jpg" alt="Sports Officer image" />
        <div class="item-name">Jamie Leekam</div>
        <div class="item-position">Sports</div>
        <a class="item-email" href="mailto:sports@cssbristol.co.uk" target="_blank">sports@cssbristol.co.uk</a>
      </div>

      <div class="committee-item">
        <img src="/assets/images/contrib/committee/webmaster.jpg" alt="Webmaster image" />
        <div class="item-name">Julian Laval</div>
        <div class="item-position">Webmaster</div>
        <a class="item-email" href="mailto:webmaster@cssbristol.co.uk" target="_blank">webmaster@cssbristol.co.uk</a>
      </div>
    </div>
  </div>
</div>

<div sponsors class="gradient-down"></div>