title: CSS Bristol
email: webmaster@cssbristol.co.uk
description: CSS is the University of Bristol Computer Science Society. We exist to represent, support and entertain all members of the Computer Science department.
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://www.cssbristol.co.uk" # the base hostname & protocol for your site
twitter_username: cssbristol
github_username: cssbristol
timezone: Europe/London

# Build settings
markdown: kramdown

collections:
  tutorials:
    output: true
    permalink: /tutorials/:path/
  jobs:
    output: true
    permalink: /jobs/:path/

plugins:
  - jekyll-redirect-from
