---
layout: default
hero:
  pretitle: University of Bristol
  title: Computer Science Society
  buttons:
---
<!--
<div class="page-section hero ">
  <h1 style="font-weight: 700">
    <img style="width: 2em; height: 2em;" src="/assets/images/contrib/1up.png" alt="" />
  </h1>
  <p>
  </p>
</div>
--!>

<div class="page-section">
  <h1>Coming up</h1>
  <div class="featured-items">
  {% assign latest = (site.events | where_exp: "event", "event.date >= site.time") %}
    {% for event in latest limit:4 %}
      <a href="{{ event.url }}">
        
      </a>
      <a class="featured-item featured-item--{{ site.data.colour-names | sample }} {% if event.category %}featured-item--{{ event.category }}{% endif %}" href="{{ event.url }}">
          <h3 class="featured-item__title">{{ event.title }}</h3>
          <p class="featured-item__meta">{{ event.author }} on {{ event.date | date: '%B %d, %Y' }}</p>
          {% if event.category == "event" %}
            <p class="featured-item__meta">Event: {{ event.event_date | date: '%B %d, %Y' }}</p>
          {% endif %}
      </a>
    {% endfor %}
      <p><a href="/events" class="btn">More</a></p>
  </div>
</div>

{% include social-links.html %}

{% include twitter-feed.html %}
