---
layout: default
hero:
  pretitle: University of Bristol
  title: Computer Science Society
  buttons:
---
<!--
<div class="page-section hero ">
  <h1 style="font-weight: 700">
    <img style="width: 2em; height: 2em;" src="/assets/images/contrib/1up.png" alt="" />
  </h1>
  <p>
  </p>
</div>
--!>

<div class="page-section">
  <h1>Coming up</h1>
  <div class="featured-items">
  {% assign latest = site.events | where_exp: "event", "event.date_end >= site.time" %}
    {% for event in latest limit:4 %}
      <a class="featured-item" href="{{ event.url }}">
        <div>
          <h2>{{ event.title }}</h2>
          <p>{{ event.date | date: '%A %d %B at %R' }}</p>
          <p>{{ event.location }}</p>
          <p>{{ event.price }}</p>
        </div>
        <img src="/assets/images/contrib/events/{{ event.banner }}" alt="{{ event.title }} banner"/>
      </a>
    {% endfor %}
    <a href="/events" class="btn">More</a>
  </div>
</div>

{% include social-links.html %}

{% include twitter-feed.html %}
