<div class="section" id="sponsors-section">
  <div class="inner-section">
    <div class="section-title align-left">Our lovely sponsors</div>
    <div class="section-content clear">

      <a ng-repeat="sponsor in sponsors.sponsors" class="sponsor-item" href="{{ :: sponsor.url }}" title="{{ :: sponsor.name }}" target="_blank" >
        <img src="/assets/images/sponsors/{{ :: sponsor.logo }}" alt="{{ :: sponsor.name }} logo" />
      </a>

      <div id="new-sponsor" class="sponsor-item last-item">
        <div>This could be you!</div>
        <a class="btn" href="mailto:president@cssbristol.co.uk" target="_blank">Get in touch</a>
      </div>

    </div>
  </div>
</div>