<div class="page-section">
  <div class="blog-posts">
    {% for post in site.posts %}
      <a class="blog-posts__item blog-post-item" href="{{ post.url }}">
        <h1 class="blog-post-item__title">{{ post.title }}</h1>
      </a>
      <p class="blog-post-item__meta">{{ post.author }} on {{ post.date | date: '%B %d, %Y' }}</p>
      {{ post.excerpt }}
      {% if post.image %}
        {% if post.fb_link %}<a href="{{ post.fb_link }}">{% endif %}
          <img src="{{ post.image }}">
        {% if post.fb_link %}</a>{% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
