<div class="page-section">
  <div class="blog-posts">
    {% for post in site.posts %}
      <div class="blog-posts__item">
        <a class="blog-posts__item__img" href="{{ post.url }}"
          {% if post.image %}
            style="background-image: url({{ post.image }});"
          {% endif %}></a>
        <div class="blog-posts__item__info">
          {% if post.loc %}
            <p>{{ post.loc }}</p>
          {% endif %}

          {% if post.date %}
            <p>{{ post.date | date: "%d/%m/%y" }}</p>
          {% endif %}

          <p>FB</p>
        </div>
      </div>
      <!-- <a class="blog-posts__item blog-post-item" href="{{ post.url }}">
        <h1 class="blog-post-item__title">{{ post.title }}</h1>
      </a>
      <p class="blog-post-item__meta">{{ post.author }} on {{ post.date | date: '%B %d, %Y' }}</p>
      {{ post.excerpt }}
      {% if post.image %}
        {% if post.fb_link %}<a href="{{ post.fb_link }}">{% endif %}
          <img src="{{ post.image }}">
        {% if post.fb_link %}</a>{% endif %}
      {% endif %} -->
    {% endfor %}
  </div>
</div>
