<div class="committee">
  {% for committee-member in include.data-file %}
  <div class="committee__member committee-member" itemscope itemtype="http://schema.org/Person">
    <img src="{{ committee-member.image }}" alt="Picture of {{ committee-member.name }}" class="committee-member__image" />
    {% if committee-member.url %}
      <a itemprop="url" href="{{ committee-member.url }}"><p class="committee-member__name" itemprop="name">{{ committee-member.name }}</p></a>
    {% else %}
      <p class="committee-member__name" itemprop="name">{{ committee-member.name }}</p>
    {% endif %}
    <p class="committee-member__position" itemprop="jobtitle">{{ committee-member.position }}</p>
    {% unless include.hide-email %}
      <p class="committee-member__email"><a href="mailto:{{ committee-member.email }}"><span itemprop="email">{{ committee-member.email }}</span></a></p>
    {% endunless %}
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display: none;">
      <div><span itemprop="addressLocality">Bristol</span></div><div itemprop="addressCountry">United Kingdom</div>
    </div>
    <div itemscope itemtype="http://schema.org/Organization" style="display: none;"><span itemprop="name">University of Bristol Computer Science Society</span></div>
  </div>
  {% endfor %}
</div>
