{% assign c = site.companies | where_exp: "c", "c.name == include.company"| first | strip %}
<a
  href="{% if c.link %}{{ c.link }}{% else %}#{% endif %}"
  target="_blank"
  rel="noopener sponsored"
  data-tooltip="{{ c.name }}"
  class="company-logo"
>
  {% comment %}
    check if the url starts with "http://", "https://" or "/"; if it does then don't prepend the path ot the companies directory
  {% endcomment %}
  {% assign checkHttpStart = c.logo | split: "http://"| first | strip %}
  {% assign checkHttpsStart = c.logo | split: "https://"| first | strip %}
  {% assign checkSlashStart = c.logo | split: "/"| first | strip %}
  {% if checkHttpStart != blank and checkHttpsStart != blank and checkSlashStart != blank %}
      {% assign imagePath = c.logo | prepend: "/assets/images/contrib/companies/" %}
  {% else %}
    {% assign imagePath = c.logo %}
  {% endif %}
  <img
    src="{{ imagePath }}"
    alt="{{ c.name }}"
    width="130"
    height="170"
  />
</a>
