{% assign c = site.companies | where_exp: "c", "c.name == include.company" | first %}
<a
  href="{% if c.link %}{{ c.link }}{% else %}#{% endif %}"
  target="_blank"
  rel="noopener sponsored"
  data-tooltip="{{ c.name }}"
  class="company-logo"
>
  {% comment %}
    check if the url starts with "http://", "https://" or "/"; if it does then don't prepend the path ot the companies directory
  {% endcomment %}
  {% assign checkHttpStart = c.logo | split: "http://" | first}
  {% assign checkHttpsStart = c.logo | split: "https://" | first}
  {% assign checkSlashStart = c.logo | split: "/" | first}
  {% assign isRelative = checkHttpStart != blank or checkHttpsStart != blank or checkSlashStart != blank %}
  {% if isRelative %}
    {% assign imagePath = c.logo | prepend: "/assets/images/contrib/companies/" %}
  {% else %}
    {% assign imagePath = c.logo %}
  {% endif %}
  <img
    src="{{ imagePath }}"
    alt="{{ c.name }}"
    width="130"
    height="170"
  />
</a>
