<div class="event-grid card-grid">
  {% for event in include.events %}
    {% comment %}
      check if the url starts with "http://", "https://" or "/"; if it does then don't prepend the path ot the companies directory
    {% endcomment %}

    {% assign checkHttpStart = event.banner | split: "http://"| first | strip %}
    {% assign checkHttpsStart = event.banner | split: "https://"| first | strip %}
    {% assign checkSlashStart = event.banner | split: "/"| first | strip %}
    {% if checkHttpStart != blank and checkHttpsStart != blank and checkSlashStart != blank %}
     {% assign bannerPath = event.banner | prepend: "/assets/images/contrib/events/" %}
    {% else %}
      {% assign bannerPath = event.banner %}
    {% endif %}

    <div class="card-grid__card{% if event.cancelled %} cancelled {% endif %}">
      {% if event.banner %}
        <div class="card-grid__card__banner" style="background-image: url({{ bannerPath }});"></div>
      {% else %}
        <div class="card-grid__card__banner" style="background-image: url(/assets/images/core/default-event-banner.jpg);"></div>
      {% endif %}
      <h3>{% if event.cancelled %}[CANCELLED] {% endif %}{{ event.title }}</h3>
      {% if event.date %}
        {% assign endDay = event.date_end | date: '%j' %}
        {% assign startDay = event.date | date: '%j' %}
        {% if startDay == endDay %}
          <div class="card-grid__card__row">
            <i data-tooltip="Event Date" class="fas fa-calendar-day"></i>
            <p>{{ event.date | date: "%d/%m/%y" }}</p>
          </div>
        {% else %}
           <div class="card-grid__card__row">
            <i data-tooltip="Event Date" class="fas fa-calendar-day"></i>
            <p>{{ event.date | date: "%d/%m/%y" }} - {{ event.date_end | date: "%d/%m/%y" }}</p>
          </div>
        {% endif %}
          <div class="card-grid__card__row">
          <i data-tooltip="Start/End time" class="fas fa-clock"></i>
          <p>{{ event.date | date: "%H:%M" }} - {{ event.date_end | date: "%H:%M" }}</p>
        </div>
      {% endif %}
      {% if event.location %}
        <div class="card-grid__card__row">
          <i data-tooltip="Location" class="fas fa-map-marker"></i>
          <p>{{ event.location }}</p>
        </div>
      {% endif %}

      <div class="card-grid__card__footer">
        <p>More info</p>
        <a aria-label="More details button" class="card-grid__card__footer__next-btn" href="{{ event.url }}">
          <i class="fas fa-chevron-right"></i>
        </a>
      </div>
      <div class="categories">
          {% for c in event.category %}
              {% if c == "Social" %}
                  <i data-tooltip="Social" class="fas fa-beer"></i>
              {% endif %}
              {% if c == "Tech Talk" %}
                  <i data-tooltip="Tech Talk" class="fas fa-chalkboard-teacher"></i>
              {% endif %}
              {% if c == "Trip" %}
                  <i data-tooltip="Trip" class="fas fa-bus"></i>
              {% endif %}
              {% if c == "Networking" %}
                  <i data-tooltip="Networking" class="fas fa-network-wired"></i>
              {% endif %}
              {% if c == "Careers" %}
                  <i data-tooltip="Careers" class="fas fa-briefcase"></i>
              {% endif %}
              {% if c == "Competition" %}
                  <i data-tooltip="Competition" class="fas fa-trophy"></i>
              {% endif %}
              {% if c == "Debate" %}
                  <i data-tooltip="Debate" class="fas fa-gavel"></i>
              {% endif %}
              {% if c == "Workshop" %}
                  <i data-tooltip="Workshop" class="fas fa-tools"></i>
              {% endif %}
          {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>

