<footer class="page-footer">
  <span class="page-footer__text">&copy; University of Bristol Computer Science Society</span>
  <nav class="page-footer__menu">
    <ul>
    {% for page in site.pages %}
      {% if page.title and page.show-in-nav == true %}
      <li>
        <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      </li>
      {% endif %}
    {% endfor %}
    </ul>
  </nav>
  <section class="page-footer__sponsors">
    {% for sponsor in include.sponsors-data-file %}
      <a class="page-footer__sponsors__item" href="{{ sponsor.url }}" title="{{ sponsor.name }}" target="_blank">
        <img src="/assets/images/contrib/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
      </a>
    {% endfor %}
  </section>
  <section class="page-footer__socials">
  </section>
</footer>
