<head>
  <meta charset=utf-8>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  {% include favicon-links.html %}
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include social_meta.html %}
  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <link rel="stylesheet" href="{{ "/assets/css/site.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  {% if page.feed %}
    <link type="application/atom+xml" rel="alternate" href="{{ page.feed | absolute_url }}" title="{{ page.title }}" />
  {% endif %}

  {% if layout.feed %}
    <link type="application/atom+xml" rel="alternate" href="{{ layout.feed | absolute_url }}" title="{{ page.title }}" />
  {% endif %}

  <script src="https://kit.fontawesome.com/5918af34b4.js" crossorigin="anonymous"></script>

  <script type="text/javascript">
    window.addEventListener('DOMContentLoaded', () => {
      var images = [
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg',
        'header-bg-05.png'
      ];
      document.getElementById('page-header--random-bg').style = "background-image: url('/assets/images/core/" + images[Math.floor(Math.random() * images.length)] + "')";
    });
  </script>
</head>
