<head>
  <meta charset=utf-8>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="og:type" property="og:type" content="website">
  <meta name="og:title" property="og:title" content="{{ site.title }}">
  <meta name="og:description" property="og:description" content="{{ site.description }}">
  <meta name="og:image" property="og:image" content="/assets/images/core/og-image.png" />
  <meta name="og:url" property="og:url" content="https://cssbristol.github.io">
  {% include favicon-links.html %}
  <meta name="twitter:card" content="/assets/images/core/og-image.png">
  <meta name="twitter:site" content="@cssbristol">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }} - {% endif %}{{ site.title | escape }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <link rel="stylesheet" href="{{ "/assets/css/font-awesome.min.css" | prepend: site.baseurl }}" />

  <!-- FullCalendar -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.2/fullcalendar.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.2/fullcalendar.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.7.2/gcal.js"></script>

  <script type="text/javascript">
    $(function() {
      var images = ['header-bg-01.jpg', 'header-bg-02.jpg', 'header-bg-03.jpg', 'header-bg-04.jpg'];
      $('#page-header--random-bg').css({'background-image': 'url(/assets/images/core/' + images[Math.floor(Math.random() * images.length)] + ')'});
    });
  </script>
</head>
