<header class="page-header noscript" id="page-header--random-bg">
  <div class="bg">
    <div id="header-random-background"></div>
  </div>
  <div class="navigation-items">
    <div itemscope itemtype="http://schema.org/Organization">
      <span style="display: none;" itemprop="name">University of Bristol Computer Science Society</span>
      <a aria-label="Home" href="/" class="page-header__logo" itemprop="url">
        <!-- <img src="/assets/images/core/logo-inline-light.png" alt="{{ site.title }} logo" itemprop="logo"> -->
      </a>
    </div>
    <nav class="page-navigation">
      <ul class="page-navigation__links">
        {% assign ps = site.pages | sort_natural: "title" %}
        {% for page in ps %}
        {% if page.title and page.show-in-nav == true and page.autogen == nil %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </nav>
  </div>
  {% if include.hero-contents %}
  {% include hero.html hero-contents=include.hero-contents %}
  {% endif %}
</header>
