<header class="page-header">
  <a href="/" class="page-header__logo">
    <img src="/assets/images/core/logo-inline-light.png" alt="{{ site.title }} logo">
  </a>
  <nav class="page-navigation">
    <ul class="page-navigation__links">
      {% for page in site.pages %}
        {% if page.title %}
        {% unless page.hide-from-nav == true %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endunless %}
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
  {% if include.hero-contents %}
    {% include hero.html hero-contents=include.hero-contents %}
  {% endif %}
</header>
