<div class="ideas">
  {% for idea in include.data-file %}
  <div class="ideas__idea idea">
    <h2 class="idea__name">{{ idea.name }}</h2>
    <p class="idea__description">{{ idea.description }}</p>
    {% if idea.contact_name %}<p class="idea__contact">Contact: <a href="mailto:{{ idea.contact_email }}">{{ idea.contact_name }}</a></p>{% endif %}
    <ul class="idea__statuses">
      {% for status in idea.statuses | sort: 'date' | reverse %}
        <li class="idea-status idea-status--{{ status.status | slugify }}">
          <h3>{{ status.date | date: "%b %-d, %Y" }}: {{ status.status }}</h3>
          <p>{{ status.reason }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
  {% endfor %}
</div>
