<section class="page-section page-section--shaded">
  <h1>Stay in the loop</h1>
  <div class="social-links">
    <a class="social-links__item social-links__item--facebook" href="https://www.facebook.com/groups/CSSBristol/" title="Facebook">
      <img src="/assets/images/core/social/facebook-light.png" alt="Facebook icon" />
    </a>

    <a class="social-links__item social-links__item--twitter" href="https://twitter.com/cssbristol" title="Twitter">
      <img src="/assets/images/core/social/twitter-light.png" alt="Twitter icon" />
    </a>

    <a class="social-links__item social-links__item--github" href="https://github.com/cssbristol" title="GitHub">
      <img src="/assets/images/core/social/github-light.png" alt="GitHub icon" />
    </a>
  </div>
</section>
