<section class="page-section page-section--shaded page-section--nopad-bottom links-holder" id="stay-in-the-loop">
  <h1>Stay in the loop</h1>
  <div class="social-links">
    <a
      class="social-links__item social-links__item--facebook"
      href="https://www.facebook.com/groups/CSSBristol/"
      title="Facebook"
    >
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--instagram"
      href="https://instagram.com/cssbristol"
      title="Instagram"
    >
      <i class="fab fa-instagram" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--twitter"
      href="https://twitter.com/cssbristol"
      title="Twitter"
    >
      <i class="fab fa-twitter" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--discord"
      href="https://discord.gg/nYwbhf8"
      title="Discord"
    >
      <i class="fab fa-discord" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--github"
      href="https://github.com/cssbristol"
      title="GitHub"
    >
      <i class="fab fa-github" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--linkedin"
      href="https://www.linkedin.com/groups/6512283"
      title="LinkedIn"
    >
      <i class="fab fa-linkedin-in" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--youtube"
      href="http://www.youtube.com/c/cssbristoluk"
      title="YouTube"
    >
      <i class="fab fa-youtube" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--newsletter"
      href="/newsletter"
      title="Newletter"
    >
      <i class="far fa-envelope" aria-hidden="true"></i>
    </a>
    <!-- <a
      class="social-links__item social-links__item--strava"
      href="https://www.strava.com/clubs/css-bristol-university-of-bristol-computer-science-society-308010"
      title="Strava"
    >
      <i class="fab fa-strava" aria-hidden="true"></i>
    </a> -->
    <!-- <a
      class="social-links__item social-links__item--rss"
      href="/feeds"
      title="RSS"
    >
      <i class="fas fa-rss" aria-hidden="true"></i>
    </a> -->
    <a
      class="social-links__item social-links__item--tiktok"
      href="https://www.tiktok.com/@cssbristol"
      title="TikTok"
    >
      <i class="fab fa-tiktok" aria-hidden="true"></i>
    </a>
    <a
      class="social-links__item social-links__item--calendar"
      href="/feeds"
      title="Calendar"
    >
      <i class="far fa-calendar-alt" aria-hidden="true"></i>
    </a>
  </div>
</section>
