<section class="page-section page-section--shaded page-section--nopad">
  <h1>Stay in the loop</h1>
  <div class="social-links">
    <a class="social-links__item social-links__item--facebook" href="https://www.facebook.com/groups/CSSBristol/" title="Facebook">
      <i class="fa fa-facebook fa-3x" aria-hidden="true"></i>
    </a>

    <a class="social-links__item social-links__item--twitter" href="https://twitter.com/cssbristol" title="Twitter">
      <i class="fa fa-twitter fa-3x" aria-hidden="true"></i>
    </a>

    <a class="social-links__item social-links__item--github" href="https://github.com/cssbristol" title="GitHub">
      <i class="fa fa-github fa-3x" aria-hidden="true"></i>
    </a>

    <a class="social-links__item social-links__item--linkedin" href="https://www.linkedin.com/groups/6512283" title="LinkedIn">
      <i class="fa fa-linkedin fa-3x" aria-hidden="true"></i>
    </a>

    <a class="social-links__item social-links__item--youtube" href="http://www.youtube.com/c/cssbristoluk" title="YouTube">
      <i class="fa fa-youtube fa-3x" aria-hidden="true"></i>
    </a>
  </div>
</section>
