<section class="page-section sponsorsec">
    <h1><a href="/pages/sponsors">Our lovely sponsors</a></h1>
    <div class="sponsors">
      {% for company in site.companies %}
        {% for period in company.sponsor %}
          {% if period.start < site.time and period.end > site.time %}
            {% include company_logo.html company=company.name %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
    <div class="sponsors__action_item">
      <h2>This could be you!</h2>
      <p><a class="btn" href="/pages/sponsors">Get in touch</a></p>
    </div>
</section>
