<section class="page-section sponsorsec">
    <h1><a href="/pages/sponsors">Our lovely sponsors</a></h1>
    <div class="sponsors">
      {% for sponsor in include.sponsors-data-file %}
        <a class="sponsors__item" href="{{ sponsor.url }}" title="{{ sponsor.name }}" target="_blank">
          <img src="/assets/images/contrib/sponsors/{{ sponsor.logo }}" alt="{{ sponsor.name }} logo">
        </a>
      {% endfor %}
    </div>
    <div class="sponsors__action_item">
      <h2>This could be you!</h2>
      <p><a class="btn" href="/pages/sponsors">Get in touch</a></p>
    </div>
</section>
