<div class="sponsor-table">
<table>
    <tr>
        <th></th>
        <th></th>
        <th>Standard <p>{{ include.sponsorship.standard }}</p></th>
        <th>Premium <p>{{ include.sponsorship.premium }}</p></th>
    </tr>
    <tr class="break"></tr>
    <tr>
        <td rowspan="3" class="category">Brand</td>
        <td>Logo on our newsletter</td>
        <td><i class="fas fa-check"></i></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
        <td>Logo on our website</td>
        <td><i class="fas fa-check"></i></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
        <td>Logo on our merch</td>
        <td></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    <tr class="break"></tr>
    <tr>
        <td rowspan="3" class="category">Events</td>
        <td>Run a tech talk</td>
        <td>1</td>
        <td>1</td>
    </tr>
    <tr>
        <td>Run an Event</td>
        <td></td>
        <td>1</td>
    </tr>
    <tr>
        <td>Advertise your events</td>
        <td><i class="fas fa-check"></i></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    <tr class="break"></tr>
    <tr>
        <td rowspan="3" class="category">Comms</td>
        <td>Sponsored job postings</td>
        <td><i class="fas fa-check"></i></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    <tr>
        <td>Features in our email newsletter</td>
        <td>1</td>
        <td>2</td>
    </tr>
    <tr>
        <td>Regular dialog with committee</td>
        <td><i class="fas fa-check"></i></td>
        <td><i class="fas fa-check"></i></td>
    </tr>
    
    

</table>
</div>