<div class="sponsorship-cards">
    <div class="card">
        <div class="standard">
            <h4>Standard Package</h4>
            <ul class="benefits">
                <li class="true">Logo on our website</li>
                <li class="true break">Logo on our merchandise</li>

                <li class="true">Run a tech-talk</li>
                <li class="false break">Run an event</li>

                <li class="true">Advertising for your events</li>
                <li class="true">Sponsored job postings</li>
                <li class="true">Regular dialogue with committee</li>
            </ul>
        </div>
    </div>
    <div class="card">
        <div class="premium">
            <h4>Premium Package <i class="fas fa-star"></i></h4>
            <ul class="benefits">
                <li class="true">Logo on our website</li>
                <li class="true break">Logo on our merchandise</li>

                <li class="true">Run a tech-talk</li>
                <li class="true break">Run an event</li>

                <li class="true">Advertising for your events</li>
                <li class="true">Sponsored job postings</li>
                <li class="true">Regular dialogue with committee</li>
            </ul>
        </div>
    </div>
    <a href="{{ include.contact-link }}" class="sponsor-cta btn dark">Contact us for pricing</a>
</div>
