.article {
  max-width: $content-width;
  padding: 0 20px;
  text-align: left;
  overflow: hidden;

  a {
    color: $blue;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: border-bottom .2s;
    &:hover {
      border-bottom: 2px solid $blue;
    }
  }

  ul {
    margin: 10px 0;
    li {
      list-style-type: none;
      text-indent: -10px;
      @include media-query($on-palm) {
        text-indent: 0px;
      }
      &:before {
        content: "- ";
      }
    }
  }

  pre {
    font-family: "Consolas", monospace;
    padding: 5px;
    min-width: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    font-family: "Consolas", monospace;
    min-width: 0;
  }

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }
}
