.article {
  max-width: $content-width;
  padding: 0 20px;
  text-align: left;
  overflow: hidden;

  a {
    color: $blue;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: border-bottom .2s;
    &:hover {
      border-bottom: 2px solid $blue;
    }
  }

  ol {
    margin: 10px 0;
    li {
      list-style-type: decimal;
      list-style-position: inside;
      text-indent: 0px;
      @include media-query($on-palm) {
        text-indent: 10px;
      }
    }
    ul, ol {
      margin-left: 10px;
    }
  }

  ul {
    margin: 10px 0;
    li {
      list-style-type: circle;
      list-style-position: inside;
      text-indent: 0px;
      @include media-query($on-palm) {
        text-indent: 10px;
      }

    }
    ul, ol {
      margin-left: 10px;
    }
  }

  pre {
    font-family: $monospacefont;
    padding: 5px;
    min-width: 0;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  code {
    font-family: $monospacefont;
    min-width: 0;
  }

  strong {
    font-weight: 500;
  }

  em {
    font-style: italic;
  }
}

.aligned-image {
  text-align: center;
}

.page-section {
  width: 100%;
}
