body {
  font-family: "Open Sans", sans-serif;
}

.page-header {
  background: url('/assets/images/core/header-bg.jpg');

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  padding: 20px 50px;

  &__logo {
    display: block;
    width: 25%;
    img {
      height: 40px;
    }
  }
}

.page-navigation {
  display: inline-flex;
  justify-content: flex-end;
  width: 75%;

  &__links li {
    display: inline;
    list-style-type: none;
  }

  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.page-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  padding: 30px 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 25px;

  h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 50px 10px;
    max-width: 1000px;
    text-align: center;
  }

  h2 {
  }

  &--shaded {
    background: $light-grey;
  }
}

.page-footer {
  background: $light-grey;
  color: $medium-text;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  font-size: 14px;
  padding: 20px 50px;

  &__text {
    display: block;
    width: 25%;
  }

  &__menu {
    display: inline-flex;
    justify-content: flex-end;
    width: 75%;

    li {
      display: inline;
      list-style-type: none;
    }

    a {
      color: $medium-text;
      padding: 10px;
      text-decoration: none;
    }
  }
}
