.blog-posts {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &__item {
    width: 20em;
    height: 13.25em;
    margin: auto auto 1em auto;

    display: flex;
    flex-direction: column;

    &__img {
      height: 9em;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__info {
      background: lightgray;
      height: 2em;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      p {
        margin: auto;
        width: 33%;
        text-align: center;
      }
    }
  }
}

/* .blog-posts {
  max-width: 1000px;
  padding: 0 20px;

  .blog-post-item {
    color: $dark-text;
    text-decoration: none;
    &__meta {
      margin-top: -30px;
      text-align: center;
      @include media-query($on-palm) {
        margin: 0px auto 20px;
      }
    }
  }
}

.blog-post {
  &__meta {
    margin: -30px auto 60px !important;
    text-align: center;
    @include media-query($on-palm) {
      margin: 0px auto 20px !important;
    }
  }

  .btn {
    display: block;
  }
}
 */