.social-links {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  align-content: stretch;
  max-width: $content-width;
  width: 100%;

  @include media-query($on-palm) {
    height: 80px;
  }

  .social-links__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;

    color: #ffffff;
    text-decoration: none;

    &--facebook {
      background: linear-gradient(#4264aa,#344e86);
      &:hover {
        background: #344e86;
      }
    }
    &--twitter {
      background: linear-gradient(#5aa7ff,#268bff);
      &:hover {
        background: #268bff;
      }
    }
    &--github {
      background: linear-gradient(#404040,#262626);
      &:hover {
        background: #262626;
      }
    }
    &--linkedin {
      background: linear-gradient(lighten(#1c87bd, 5%), darken(#1c87bd, 5%));
      &:hover {
        background: #1c87bd;
      }
    }
    &--youtube {
      background: linear-gradient(#e52d27, #b31217);
      &:hover {
        background: #c3201e;
      }
    }
    img {
      height: 40px;
      width: 40px;
    }
  }
}

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  max-width: $content-width;
  width: 100%;

  .sponsors__item {
    width: 33%;
    height: 100px;
    margin: 15px auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include media-query($on-palm) {
      width: 100%;
      justify-content: flex-start;
      height: auto;

      p {
        margin: 2px;
      }
    }

    img {
      width: 200px;
    }
  }
}

.sponsors__action_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.committee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__member {
    margin: 30px 0;
  }
}

.ideas {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  &__idea {
    margin: 30px 0;
    width: 100%;
  }
}
