.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: $content-width;
  width: 100%;

  @include media-query($on-palm) {
    flex-direction: column;
  }

  .sponsors__item {
    width: 33%;

    @include media-query($on-palm) {
      width: 100%;
      height: auto;
      margin: 0.5rem 0;

      p {
        margin: 2px;
      }
    }

    img {
      width: 200px;
    }
  }
}

.sponsors__action_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.committee {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__member {
    margin: 30px 0;
  }
}

.ideas {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  &__idea {
    margin: 30px 0;
    width: 100%;
  }
}
