.social-links {
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: center;
  max-width: $content-width;
  width: 100%;

  .social-links__item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    &--facebook {
      background: linear-gradient(#4264aa,#344e86);
      &:hover {
        background: #344e86;
      }
    }
    &--twitter {
      background: linear-gradient(#5aa7ff,#268bff);
      &:hover {
        background: #268bff;
      }
    }
    &--github {
      background: linear-gradient(#404040,#262626);
      &:hover {
        background: #262626;
      }
    }
    img {
      height: 40px;
      width: 40px;
    }
  }
}

.sponsors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: $content-width;
  width: 100%;

  .sponsors__item {
    width: 25%;
    height: 60px;
    margin: 10px auto;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 200px;
    }
  }
}

.committee {
  display: flex;
  flex-wrap: wrap;

  &__member {
    margin: 30px 0;
    width: 25%;
  }
}

.committee-member {
  text-align: center;
  &__image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 100px;
  }
  &__name {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__position {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__email {
    font-size: 15px;
    a {
      color: #222222;
      transition: color .2s;
    }
    a:hover {
      color: $blue;
    }
  }
}

.article {
  max-width: $content-width;
  text-align: left;
  width: 100%;

  a {
    color: $blue;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    text-decoration: none;
    transition: border-bottom .2s;
    &:hover {
      border-bottom: 2px solid $blue;
    }
  }
}

.hero {
  text-align: center;
  margin: 100px auto;
  max-width: $content-width;
  width: 100%;

  &__title {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 5px;
    line-height: 38px;
    text-transform: uppercase;

    &--small {
      font-size: 16px;
      letter-spacing: 5px;
      font-weight: 400;
      margin-bottom: 10px;
    }
  }

  &--light {
    color: #ffffff;
  }

  .btn {
    margin-top: 30px;
  }
}

.btn, a.btn {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    border: 1px solid #777777;
    color: #555555;
  }

  &--light {
    border: 1px solid #ffffff;
    color: #ffffff;
    &:hover {
      border: 1px solid #ffffff;
      color: #ffffff;
      background: rgba(255,255,255,.1);
    }
  }
}
