.committee-member {
  min-width: 200px;
  padding: 10px;
  text-align: center;
  &__image {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 100px;
  }
  &__name {
    font-weight: 300;
    font-size: 20px;
    margin-bottom: 20px;
  }
  &__position {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  &__email {
    font-size: 15px;
    a {
      color: #222222;
      transition: color .2s;
    }
    a:hover {
      color: $blue;
    }
  }
}

.btn, a.btn {
  border: 1px solid #999999;
  border-radius: 3px;
  color: #999;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 20px;
  margin: 10px;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    border: 1px solid #777777;
    color: #555555;
  }

  &--light {
    border: 1px solid #ffffff;
    color: #ffffff;
    &:hover {
      border: 1px solid #ffffff;
      color: #ffffff;
      background: rgba(255,255,255,.1);
    }
  }
}
