$pacblack:  #040204;
$pacsalmon: #040204;
$pacwhite:  #dcdedc;
$pacred:    #fc0204;
$pacyellow: #fcfe04;
$pacblue:   #fcfe04;
$pacpink:   #fcb6dc;
$pacorange: #fcb644;
$pacblue:   #2422dc;

#explorecont {
    display: grid;
    grid-template: 1fr / 1fr minmax(10%, 960px) 1fr;
    background: $pacblack;
    font-family: 'Press Start 2P', cursive;

    .side {
        background: url(/assets/images/contrib/events/2018-11-explore/bg.png);
        width: 80%;
    }
    #left { margin-right: 20%; }
    #right { margin-left:20%; }

    #middle {
        grid-area: 1 / 2 / 2 / 3;
        color: $pacwhite;
        img {
            display: block;
            margin: 0 auto;
            max-width: 80%;
            padding: 2em;
        }
        h1 {
            font-size: xx-large;
        }
        #maintext {
            padding: 2em;
            margin-bottom: 2em;
            background: $pacred;
        }
    }
}

#eventcont {
    display: flex;
    flex-direction: column;
    
    div:nth-child(even) {
        align-self: flex-end;
    }
    div:nth-child(odd) {
        align-self: flex-start;
    }

    .event {
        display: grid;
        grid-template: 13.5em 1fr / 24em;
        border: 5px solid $pacblue;
        border-radius: 0.5em;
        overflow: hidden;
        color: $pacblack;

        .image {
            grid-area: 1 / 1 / 2 / 2;
            background: slategray;
            height: 100%;
        }
        .desc {
            grid-area: 2 / 1 / 3 / 2;
            background-color: $pacwhite;
            height: 100%;

            .info {
                display: flex;
                justify-content: space-evenly;
                border-bottom: 1px solid gray;
                height: 2em;
                p {
                    width: 50%;
                    text-align: center;
                    line-height: 2em;
                    font-weight: bold;
                }
            }
            .text {
                padding: 1em;
            }
        }
    }
}