@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Raleway:ital,wght@0,300;0,400;1,300;1,400&display=swap');

h1,h2,h3,h4,h5,h6 {
  font-family: "Fira Sans";
  font-weight: 500;
  letter-spacing: 4px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src:url('/assets/fonts/OpenSans-Light.woff') format('woff'),
  url('/assets/fonts/OpenSans-Light.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:url('/assets/fonts/OpenSans-Regular.woff') format('woff'),
  url('/assets/fonts/OpenSans-Regular.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 500;
  src:url('/assets/fonts/OpenSans-Semibold.woff') format('woff'),
  url('/assets/fonts/OpenSans-Semibold.ttf') format('ttf');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src:url('/assets/fonts/OpenSans-Bold.woff') format('woff'),
  url('/assets/fonts/OpenSans-Bold.ttf') format('ttf');
}

// Acumin Pro for .acumin
// @import url("https://use.typekit.net/gtw0nwa.css");
