//@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&family=Oxygen:ital,wght@0,300;0,400;1,300;1,400&family=Oxygen+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');


h1 {
  text-transform: uppercase;
}

h1, h2, h3, h4, h5, h6,
.page-section h1, .page-section h2, .page-section h3, .page-section h4, .page-section h5, .page-section h6{
  font-family: $headfont;
  font-weight: 800;
  margin: 1.5em auto 1em;
}

//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 300;
//  src: url("/assets/fonts/OpenSans-Light.woff") format("woff"), url("/assets/fonts/OpenSans-Light.ttf") format("ttf");
//}
//
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 400;
//  src: url("/assets/fonts/OpenSans-Regular.woff") format("woff"), url("/assets/fonts/OpenSans-Regular.ttf") format("ttf");
//}
//
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 500;
//  src: url("/assets/fonts/OpenSans-Semibold.woff") format("woff"), url("/assets/fonts/OpenSans-Semibold.ttf") format("ttf");
//}
//
//@font-face {
//  font-family: 'Open Sans';
//  font-style: normal;
//  font-weight: 700;
//  src: url("/assets/fonts/OpenSans-Bold.woff") format("woff"), url("/assets/fonts/OpenSans-Bold.ttf") format("ttf");
//}

// Acumin Pro for .acumin
// @import url("https://use.typekit.net/gtw0nwa.css");
