// TODO: make this more simillar to the other media queries on the site

$spacer: 2rem;
$grid-cols: 12;
$container-breakpoint-md: $on-palm;
$container-breakpoint-lg: $on-laptop;
$container-breakpoint-xl: 100em;

@function cols-width($colspan) {
  @return unquote("calc(#{$colspan} * 100% / #{$grid-cols})");
}

@mixin grid-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@mixin cols($cols, $breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    width: cols-width($cols);
    padding-left: $spacer/2;
    padding-right: $spacer/2;
  }
}

@mixin offset-cols($cols, $breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    margin-left: cols-width($cols);
  }
}

@mixin pull-cols($cols, $breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    margin-left: unquote("calc(-1 * #{$cols} * 100% / #{$grid-cols})");
  }
}

@mixin cols-custom($cols, $totalCols, $breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    width: custom-cols-width($cols, $totalCols);
    padding-left: $spacer/2;
    padding-right: $spacer/2;
  }
}

@function custom-cols-width($cols, $totalCols) {
  @return unquote("calc(#{$cols} * 100% / #{$totalCols})");
}

.container {
  box-sizing: border-box;
  padding: 0 2em;
  max-width: $content-width-wide;
  margin: 0 auto;
}
.container.narrow {
  max-width: $content-width-wide*0.65;
}

@mixin center-children-vertically() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin pl-0($breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    padding-left: 0;
  }
}

@mixin pr-0($breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    padding-right: 0;
  }
}

@mixin pl-auto($breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    padding-left: $spacer/2;
  }
}

@mixin pr-auto($breakpoint:0) {
  @media screen and (min-width: #{$breakpoint}) {
    padding-right: $spacer/2;
  }
}