body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
}

.page-header {
  background: url('/assets/images/core/header-bg.jpg') no-repeat;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  padding: 20px 0;

  @include media-query($on-palm) {
    justify-content: center;
    width: 100%;
  }

  &__logo {
    display: block;
    width: 25%;
    min-width: 350px;
    padding-left: 50px;
    @include media-query($on-palm) {
      margin-bottom: 30px;
      padding: 0 5px;
    }
    img {
      height: 40px;
    }
  }
}

.page-navigation {
  display: inline-flex;
  justify-content: flex-end;
  padding-right: 50px;

  @include media-query($on-palm) {
    padding: 0 0;
    width: 100%;
    justify-content: center;
  }

  &__links li {
    display: inline;
    list-style-type: none;

    @include media-query($on-palm) {
      display: block;
      margin: 10px 0;
      text-align: center;
      width: 100%;
    }
  }

  a {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }
}

.page-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 30px 0;

  font-size: 16px;
  font-weight: 300;
  line-height: 25px;

  @include media-query($on-palm) {
    margin-bottom: 20px;
    padding: 10px 0;
  }

  &--nopad {
    padding: 0 0;
  }

  p {
    margin: 16px 0;
  }

  h1 {
    font-size: 25px;
    font-weight: 300;
    margin: 50px 10px;
    max-width: 1000px;
    text-align: center;

    @include media-query($on-palm) {
      margin: 20px 10px;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 40px;
    line-height: 25px;
  }

  h3 {
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    line-height: 22px;
  }

  img {
    margin: 20px 0;
    max-width: 100%;
  }

  &--shaded {
    background: $light-grey;
  }
}

.page-footer {
  background: $light-grey;
  color: $medium-text;

  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;

  font-size: 14px;
  padding: 20px 50px;

  @include media-query($on-palm) {
    padding: 20px 10px;
  }

  &__text {
    flex-grow: 1;
    @include media-query($on-palm) {
      text-align: center;
      width: 100%;
    }
  }

  &__menu {
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 2;
    @include media-query($on-palm) {
      display: none;
    }

    li {
      display: inline;
      list-style-type: none;
    }

    a {
      color: $medium-text;
      padding: 10px;
      text-decoration: none;
    }
  }
}
