$dark-pink: #D30055;
$dark-purple: #220021;

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

.page-section.sponsor {
    * {
        box-sizing: border-box;
    }
    .grid-container {
        @include grid-container;
    }
    ::selection {
        background: darken($dark-pink, 10%);
        color: #fff;
    }
    h1 {
        text-align: left;
    }
    h2, .heading {
        font-size: 2em;
        text-transform: uppercase;
        margin: 0.5em auto;
    }
    strong {
        font-weight: bold;
    }

    a.btn {
        font-weight: 800;
        margin: 1em 0;
        border: 4px solid  $dark-pink;
        font-size: 1em;
        letter-spacing: 0;
        padding: 0.5em 1em;

        &.light {
            background-color: #fff;
            color: $dark-pink;
        }
        &.dark {
            background-color: $dark-pink;
            color: #fff;
        }

        &:hover, &:focus {
            background-color: $dark-purple;
            border-color: $dark-purple;
            color: #fff;
        }
        &:focus {
            transform: scale(0.8);
            outline-color: $dark-pink;
        }
    }

    .intro {
        @include grid-container;
        margin: 2rem auto 6rem;

        .page-title, .intro-text {
            margin: 0;
            @include cols(12);
        }

        .page-title {
            @include cols(6, $container-breakpoint-md);
            @include cols(5, $container-breakpoint-lg);
            font-size: 3em;
            background: linear-gradient(to left, $dark-pink, lighten($dark-purple, 10%));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            @include pr-0($container-breakpoint-lg);
            @include pl-0();
            @media screen and (max-width: $on-palm) {
                font-size: 2em;
                margin-bottom: 0.5em;
            }
        }
        .intro-text {
            @include cols(6, $container-breakpoint-md);
            @include offset-cols(1, $container-breakpoint-lg)
            @include pl-0();
            @include pl-auto($container-breakpoint-lg);
            @include pr-0();
            p {
                margin: 0 auto 1em;
            }
            .link-list {
                .btn:first-child {
                    margin-right: 1em;
                }
            }
        }
    }

    .logo-banner {
        background-color: $dark-purple;
        background-image: url("/assets/images/core/sponsorship/logos-background.svg");
        background-repeat: no-repeat;
        background-position: right bottom;
        background-size: contain;
        width: 100%;
        color: #fff;
        text-align: center;
        padding: 3rem 0;
        margin-bottom: 6rem;

        .title {
            font-size: 1em;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 0.2em;
            margin: 0;
            z-index: 1;
        }


        .slider {
            margin-top: 1em;
            position: relative;
            @include grid-container;
            justify-content: center;

            .controls {
                position: absolute;
                @include grid-container;
                @include center-children-vertically;
                width: 100%;
                height: 100%;
                button {
                    position: absolute;
                    font-size: 3em;
                    @media screen and (max-width: $on-palm) {
                        font-size: 1.5em;
                    }
                    background: transparent;
                    border: none;
                    color: #fff;
                    cursor: pointer;
                    transition: text-shadow .5s ease-in-out 0s, color .5s ease 0s, transform .5s ease-in-out 0s;
                    text-shadow: 0 0 0 #fff,
                    0 0 0 #fff,
                    0 0 0 #fff,
                    0 0 0 #fff;

                    &:nth-child(1) {
                        left: 0;
                    }
                    &:nth-child(2) {
                        right: 0;
                    }

                    &:hover,
                    &:focus {
                        color: $dark-purple;
                        // Adds stroke around text
                        text-shadow: 3px 0 0 #fff,
                            -3px 0 0 #fff,
                            0 3px 0 #fff,
                            0 -3px 0 #fff;
                    }
                  &:focus {
                      outline: none;
                      transform: scale(1.2);
                      text-shadow: 5px 0 0 $yellow,
                      -5px 0 0 $yellow,
                      0 5px 0 $yellow,
                      0 -5px 0 $yellow;

                  }
                }
            }

            .slides-viewport {
                z-index: 1;
                overflow: hidden;
                @include pl-0();
                @include pr-0();
                @include cols(10);
                @include cols(6, $container-breakpoint-md);

                .slides-list {
                    width: 200%;
                    display: flex;
                    .slide {
                        width: 100%;
                        @include grid-container;
                        justify-content: space-between;
                        align-content: space-between;

                        .brand {
                            @include cols(6);
                            @include cols(4, $container-breakpoint-md);
                            margin: $spacer/2 0;
                            width: 100%;
                            max-width: 10em;
                            height: 3em;

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }

    .section {
        margin-bottom: 6rem;
    }

    #why-css {
        .grid-container {
            .text {
                @include cols(12);
                @include cols(6, $container-breakpoint-md);
                @include pr-0($container-breakpoint-md);
                @include pl-0();
            }

            aside {
                @include cols(12);
                @include cols(5, $container-breakpoint-md);
                @include offset-cols(1, $container-breakpoint-md);
                @include pl-0($container-breakpoint-md);
                @include pr-0();

                blockquote {
                    position: relative;
                    color: inherit;
                    font-weight: bold;
                    margin: 0;
                    border: 0;
                    padding: 0;

                    &::before {
                        content: '“';
                        font-size: 2em;
                        font-weight: 400;
                        position: absolute;
                        top: 0;
                        left: -0.5em;
                    }
                }

                cite {
                    display: block;
                    margin-top: 0.5em;
                }
            }
        }
    }

    #get-involved {
        .grid-container {
            .text {
                @include cols(12);
                @include cols(6, $container-breakpoint-md);
                @include pr-0($container-breakpoint-md);
                @include pl-0();
            }
            .image {
                @include cols(12);
                @include cols(6, $container-breakpoint-md);
                @include pl-auto();
                @include pr-0();
                img {
                    width: 100%;
                    height: auto;
                }
            }

        }
    }

    //OLD

    .header {
        display: flex;
        align-items: center;

        h1 {
            margin: auto;
        }

        img {
            height: 3em; 
            vertical-align:middle;
            margin-left: 8px;
        }
    }

    .sponsor-table {
        width: fit-content;
        padding: 10px;
        border-radius: 20px;
        align-self: center;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    table {
        th, td {
            padding: 5px;
        }

        th {
            font-weight: bold;
        }

        p {
            margin: 0px;
        }

        .category {
            font-weight: bold;
            writing-mode: vertical-rl;
            text-align: center;
        }

        .break {
            border-top: 1px solid black;
        }
    }
}