/* Header styles */

@media (max-width: 950px) {
  #nav-links li:not(#nav-icon) {
    display: none;
  }

  #nav-icon {
    display: inline-block;
  }
}

@media (max-width: 550px) {
  #navigation {
    padding: 20px 30px;
  }
  #nav-logo-large {
    display: none;
  }

  #nav-logo-small {
    display: block;
  }
}

/* Content styles */

@media (max-width: 550px) {
	#content { 
	  padding: 50px 0px 30px;
	}
}

/* Section styles */

@media (max-width: 550px) {
  .section, .inner-section {
    margin: 0 auto 50px;
    padding: 0px 30px;
    .section-title {
      font-size: 20px;
      margin-bottom: 30px;
    }
  }
}