---
layout: event
published: true
cancelled: false
cancel_reason:
title: Formal Verification - ARM
date:     2017-04-27 14:00:00 +0100
date_end: 2017-04-27 15:00:00 +0100
banner: 2017_04_27_arm_formal_verification.jpg
location: Queens 1.18
fb_link: https://www.facebook.com/events/144316992767733/
ticket_link:
price: Free
category:
  - Tech Talk
  - Networking
  - Careers
cohost:
  - company: arm
  - Will Keen, Senior Engineer, ARM
---

In the ever-accelerating industry of CPU design, Formal Verification is becoming an essential methodology in ensuring that correct designs are shipped to customers. In this talk, we will explore the nature of Formal Methods as applied to digital electronics. We will look at how the technology works, its history, its strengths and weaknesses in comparison with traditional simulation-based methods, and its application on real CPU designs. We will see why electronics companies are so excited about it, and the growing requirement for good tools and engineers in today’s marketplace.

The presenter is an engineer who has witnessed first-hand the growth of Formal Methods at a major CPU design company over several years, and created new techniques in applying formal methods. There will be time for in-depth Q&A.

