@charset "UTF-8";
/* Usage:  =========================================================================== <div class="row"> <div class="col"></div> <div class="col"></div> <div class="col"></div> </div> .row { @include grid-container; } .col { @include cols(12); // 12 columns on smallest screen sizes @include cols(6, $breakpoint-md); // 6 columns from $breakpoint-md upwards @include cols(3, $breakpoint-lg); // 3 columns from $breakpoint-lg upwards ... (you get the point) } */
.container { box-sizing: border-box; padding: 0 2em; max-width: 1000px; margin: 0 auto; }

.container.narrow { max-width: 650px; }

.screen-reader-text { border: 0; clip: rect(1px, 1px, 1px, 1px); clip-path: inset(50%); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; word-wrap: normal !important; }

.event-grid { /* Add margin to the top of the first row */ }

.event-grid .card-grid__card h3 { margin: auto 0; }

.event-grid .card-grid__card.cancelled { opacity: 0.4; transition: transform ease-in-out 0.275s, opacity ease-in-out 0.275s; }

.event-grid .card-grid__card.cancelled:hover { opacity: 1; }

.event-grid .card-grid__card__footer { margin-top: 0 !important; }

.event-grid .card-grid__card > .card-grid__card__row { margin-top: 0.75rem; }

.event-grid .card-grid__card > .card-grid__card__row ~ .card-grid__card__row { margin-top: 0rem; }

.event-grid .card-grid__card .categories { display: flex; flex-direction: row; justify-content: center; color: #666666; font-size: 0.75rem; margin-top: 1rem; margin-bottom: -0.5rem; }

.event-grid .card-grid__card .categories i { margin: 0 0.75ch; }

.event-page { display: grid; grid-template-columns: 3fr minmax(25rem, 1fr); grid-template-rows: 1fr; grid-gap: 2rem; align-items: start; }

@media screen and (max-width: 900px) { .event-page { grid-template-columns: 1fr; grid-template-rows: auto auto; } }

.event-page section { background-color: #ffffff; box-shadow: 0px 0px 10px #cccccc; border-radius: 10px; padding: 4rem 2rem; margin: 1rem 0; word-break: break-word; }

.event-page__banner { width: auto; /* Set height to be aspect ratio of 16:9 */ padding-top: 56.25%; margin: -4rem -2rem 2rem -2rem; border-radius: 10px 10px 0px 0px; background: no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.event-page__title { text-align: left !important; margin: 0 0 1rem !important; }

.event-page__details { display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch; justify-content: flex-start; }

.event-page__details h2 { margin: 0 0 1rem !important; }

.event-page__details__row { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: flex-start; margin-bottom: 0.5rem; gap: 2rem; }

.event-page__details__row .fas, .event-page__details__row .fab, .event-page__details__row .far { font-size: 1.5rem; color: #333333; width: 1.5rem; text-align: center; }

.event-page__details__hosted-with { margin-top: auto; }

.event-page__details__hosted-with img { height: 1.5rem !important; display: inline-block !important; width: unset !important; }

.event-page-cancelled { width: 85vw; max-width: 1000px; padding: 1rem 2rem; background-color: #e74c3c; box-shadow: 0px 0px 10px #cccccc; border-radius: 10px; }

.event-page-cancelled > * { margin: 0 !important; }

.event-page-cancelled > * + * { margin-top: 0.5rem !important; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after { content: ""; content: none; }

q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

.page-section h1.sponsors-title { font-size: 1rem; margin: 1em auto 3em; }

.sponsors { display: grid; grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr)); grid-gap: 2rem 4rem; justify-items: stretch; align-items: center; max-width: 900px; width: 90vw; }

@media screen and (max-width: 900px) { .sponsors { width: 50vw; } }

.sponsors .company-logo img { width: 100%; height: auto; }

.sponsors__action_item { /* This stuff was only needed to centre the button display: flex; flex-direction: column; align-items: center; */ margin: 3em auto 1em; }

.sponsors__action_item a { color: #666666; }

.ideas { display: flex; flex-wrap: wrap; justify-content: left; }

.ideas__idea { margin: 30px 0; width: 100%; }

h1 { text-transform: uppercase; }

h1, h2, h3, h4, h5, h6, .page-section h1, .page-section h2, .page-section h3, .page-section h4, .page-section h5, .page-section h6 { font-family: "Open Sans", sans-serif; font-weight: 800; margin: 1.5em auto 1em; }

html { scroll-behavior: smooth; }

body { display: flex; min-height: 100vh; flex-direction: column; font-family: "Open Sans", sans-serif; }

.page-header { background-color: #000; background-size: cover; display: flex; justify-content: space-evenly; align-items: center; align-content: center; flex-wrap: wrap; padding: 20px 0; }

.page-header.noscript { background: url("/assets/images/core/header-bg-03.jpg") no-repeat; }

@media screen and (max-width: 900px) { .page-header { justify-content: center; width: 100%; } }

.page-header__logo { display: block; background-image: url(/assets/images/core/logo-inline-light.png); background-size: contain; background-repeat: no-repeat; height: 50px; width: 25%; min-width: 350px; padding-left: 50px; }

@media screen and (max-width: 900px) { .page-header__logo { padding: 0; background-image: url(/assets/images/core/logo-small-light.png); background-position: center; } }

.page-header__logo img { height: 45px; }

@media screen and (max-width: 450px) { .page-header__logo img { height: 25px; } }

#page-header--random-bg { position: relative; }

#page-header--random-bg .bg { z-index: 0; position: absolute; width: 100%; height: 100%; overflow: hidden; }

#page-header--random-bg .bg > div { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 120%; height: 120%; background-size: cover; background-position: center; }

#page-header--random-bg .bg > div.blur { filter: blur(10px); }

#page-header--random-bg .navigation-items, #page-header--random-bg .hero { z-index: 1; text-shadow: 0 0 20px rgba(0, 0, 0, 0.58); }

.page-section { flex: 1; display: flex; justify-content: center; align-items: center; flex-wrap: wrap; flex-direction: column; margin-top: 50px; overflow: hidden; padding: 30px 0; font-size: 16px; font-weight: 400; line-height: 1.5; }

@media screen and (max-width: 900px) { .page-section { margin-bottom: 20px; padding: 10px 0; } }

.page-section--nopad { padding: 0 0; }

.page-section--nopad-bottom { padding-bottom: 0; }

.page-section--nopad-top { padding-top: 0; }

.page-section p { margin: 16px 0; }

.page-section h1 { font-size: 25px; margin: 50px 10px; max-width: 1000px; text-align: center; line-height: 1; }

@media screen and (max-width: 900px) { .page-section h1 { margin: 20px 10px; } }

.page-section h1 a { color: inherit; text-decoration: none; }

.page-section h2 { font-size: 18px; margin-top: 40px; line-height: 1; }

.page-section h3 { font-size: 16px; margin-top: 20px; line-height: 1; }

.page-section img { margin: auto; display: block; max-width: 100%; }

.page-section--shaded { background: #f0f0f0; }

.sponsorsec { border-top: 1px lightgray solid; }

.sponsors__item h2 { font-size: 25px; font-weight: 400; max-width: 1000px; text-align: center; }

@media screen and (max-width: 900px) { .sponsors__item h2 { margin: 20px 10px; } }

.sponsors__item h2 a { color: inherit; text-decoration: none; }

.page-footer { background: #f0f0f0; color: #666666; display: flex; justify-content: space-between; align-items: center; align-content: center; flex-wrap: wrap; font-size: 14px; padding: 20px 50px; }

@media screen and (max-width: 900px) { .page-footer { padding: 20px 10px; } }

.page-footer__text { flex-grow: 1; }

@media screen and (max-width: 900px) { .page-footer__text { text-align: center; width: 100%; } }

.page-footer__menu { display: inline-flex; justify-content: flex-end; flex-grow: 2; }

@media screen and (max-width: 900px) { .page-footer__menu { display: none; } }

.page-footer__menu li { display: inline; list-style-type: none; }

.page-footer__menu a { color: #666666; padding: 10px; text-decoration: none; }

.article { max-width: 900px; padding: 0 20px; text-align: left; overflow: hidden; }

.article.wide { max-width: 1000px; }

.article.extrawide { max-width: 1200px; }

.article a { color: #196090; font-weight: 700; border-bottom: 2px solid transparent; text-decoration: none; transition: border-bottom .2s; }

.article a:hover { border-bottom: 2px solid #196090; }

.article ol { margin: 10px 0; }

.article ol li { list-style-type: decimal; list-style-position: inside; text-indent: 0px; }

@media screen and (max-width: 900px) { .article ol li { text-indent: 10px; } }

.article ol ul, .article ol ol { margin-left: 10px; }

.article ul { margin: 10px 0; }

.article ul li { list-style-type: circle; list-style-position: inside; text-indent: 0px; }

@media screen and (max-width: 900px) { .article ul li { text-indent: 10px; } }

.article ul ul, .article ul ol { margin-left: 10px; }

.article pre { font-family: "JetBrains Mono", monospace; padding: 5px; min-width: 0; white-space: pre-wrap; word-wrap: break-word; }

.article code { font-family: "JetBrains Mono", monospace; min-width: 0; }

.article code:not(pre > code) { display: inline-block; background-color: #eef; border: 1px solid #d5d5ff; border-radius: 1px; padding: 0 3px; }

.article strong { font-weight: 700; }

.article em { font-style: italic; }

.aligned-image { text-align: center; }

.page-section { width: 100%; }

.blog-posts { display: flex; flex-flow: row wrap; justify-content: start; }

.blog-posts .old { opacity: 0.5; }

.blog-posts__item { width: 20em; height: 15em; margin: .6em .3em auto .3em; display: flex; flex-direction: column; }

@media screen and (max-width: 1040px) { .blog-posts__item { flex-grow: 1; flex-basis: 100%; } }

.blog-posts__item__img { height: 11em; background-size: cover; background-repeat: no-repeat; background-position: center; text-align: center; color: black; }

.blog-posts__item__info { background: lightgray; height: 4em; display: flex; flex-direction: row; justify-content: space-between; }

.blog-posts__item__info p { margin: auto; width: 33%; text-align: center; }

.blog-posts__item__info a { margin: auto; width: 33%; text-align: center; }

.blog-posts .btn btn--dark { margin-top: 2em; }

/* .blog-posts { max-width: 1000px; padding: 0 20px; .blog-post-item { color: $dark-text; text-decoration: none; &__meta { margin-top: -30px; text-align: center; @include media-query($on-palm) { margin: 0px auto 20px; } } } }*/
.blog-post__meta { margin: -30px auto 60px !important; text-align: center; }

@media screen and (max-width: 900px) { .blog-post__meta { margin: 0px auto 20px !important; } }

.blog-post .btn { display: block; }

.blog-post__body table { border-collapse: collapse; border-width: 1px; border-color: #000000; border-style: solid; }

.blog-post__body table td, .blog-post__body table th { border-width: 1px; border-color: #000000; border-style: solid; padding: 5px; }

.card-grid { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; align-items: stretch; padding-top: 15px; }

.card-grid__card { margin: 0px 12.5px 25px 12.5px; padding: 2rem 1rem; width: 250px; box-shadow: 0px 0px 10px #cccccc; border-radius: 10px; display: flex; flex-direction: column; transition: transform ease-in-out 0.275s; }

.card-grid__card:hover { transform: translateY(-1px) scale(1.02); }

.card-grid__card__banner { width: auto; /* Set height to be aspect ratio of 16:9 */ padding-top: 56.25%; margin: -2rem -1rem 1rem -1rem; border-radius: 10px 10px 0px 0px; background: no-repeat center center scroll; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

.card-grid__card__row { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between; margin-bottom: 0.5rem; }

.card-grid__card__row .fas, .card-grid__card__row .fab, .card-grid__card__row .far { font-size: 1.5rem; color: #333333; width: 1.5rem; text-align: center; }

.card-grid__card__row p { line-height: 1.5rem; }

.card-grid__card__list { text-align: left; line-height: 2rem; word-break: normal; }

.card-grid__card__footer { display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between; padding-top: 10px; margin-top: auto; }

.card-grid__card__footer__next-btn { all: unset !important; font-size: 1.5rem !important; width: 2.5rem !important; height: 2.5rem !important; border-radius: 2.5rem !important; line-height: 2.5rem !important; text-decoration: none !important; color: #ffffff !important; background-color: #fa8a90 !important; text-align: center !important; transition: all ease-in-out 0.25s !important; }

.card-grid__card__footer__next-btn:hover { background-color: #fa9ba1 !important; }

.card-grid__card__footer__next-btn:focus { background-color: #fa9ba1 !important; border: 1px solid #fa8a90 !important; }

.card-grid p { margin: unset; text-align: right; }

.card-grid h3 { margin: unset; margin-bottom: 15px; text-align: center; font-size: 1.5rem; font-weight: 700; }

blockquote { width: 90%; margin: 1rem 5%; border-left: 0.5rem solid #666666; padding-left: 1rem; color: #333333; }

blockquote .citation { display: block; text-align: right; font-size: 0.9rem; font-style: italic; margin-left: auto; }

blockquote .citation:before { content: '-'; margin-right: 0.5rem; }

.tutorials-grid p { text-align: center; }

.job-posts { display: grid; width: 90%; margin: 0 auto; column-gap: 2em; grid-template-columns: repeat(1, 1fr); }

@media screen and (min-width: 900px) { .job-posts { grid-template-columns: repeat(2, 1fr); } }

@media screen and (min-width: 100em) { .job-posts { grid-template-columns: repeat(4, 1fr); } }

.job-posts a { color: inherit; text-decoration: inherit; }

.job-posts .job-post-item { position: relative; box-sizing: border-box; width: 100%; padding: 1em; margin: 1em 0; box-shadow: 0px 0px 10px #cccccc; border-radius: 3px; border-left: 0 solid #4b0071; color: #333333; min-height: 250px; text-decoration: none; order: 1; }

.job-posts .job-post-item__title { font-size: 24px; margin: 10px 0 10px; }

.job-posts .job-post-item__date { text-align: left; }

@media screen and (max-width: 900px) { .job-posts .job-post-item__date { margin: 0px auto 20px; } }

.job-posts .job-post-item__company { font-weight: 400; }

.job-posts .job-post-item .company-logo img { height: 3rem; object-fit: contain; object-position: bottom left; margin: 0; }

.job-posts .job-post-item--sponsored { order: 0; border-left-width: 1em; }

@media screen and (min-width: 900px) { .job-posts .job-post-item--sponsored { grid-column: span 2; } }

.job-posts .job-post-item--sponsored:before { display: block; text-align: center; content: 'Sponsored'; color: #767676; border-radius: 2em; font-size: 0.9em; font-weight: 800; text-transform: uppercase; }

.job-posts .job-post-item p { margin: 5px 0; }

.job-post__header { text-align: center; }

.job-post__header img { margin: 10px; max-width: 200px; }

.job-post__sponsored { background: #fa8a90; border-radius: 3px; color: #ffffff; display: inline-block; font-size: 12px; font-weight: 700; margin: 5px; padding: 5px 10px; text-transform: uppercase; }

.job-post__dates { margin: -20px auto 10px !important; text-align: center; }

.job-post *[itemprop=hiringOrganization] { text-align: center; }

.job-post *[itemprop=hiringOrganization] *[itemprop=address] { font-size: 12px; }

.job-post *[itemprop=hiringOrganization] p { margin: 4px 0; }

.job-post dl { margin: 20px 0; }

.job-post dl dt { display: inline-block; font-weight: 400; min-width: 150px; }

.job-post dl dd { display: inline; }

.job-post dl dd:after { display: block; content: ''; }

.job-details .company-logo img { height: 1.5rem; object-fit: contain; object-position: left center; }

.committee { display: flex; flex-direction: row; gap: 1rem 0.5rem; flex-wrap: wrap; justify-content: center; align-items: start; }

.committee-member { display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 1rem 0.5rem; width: 20ch; gap: 0.5rem; text-align: center; }

.committee-member__image { position: relative; width: 75%; height: 100%; }

.committee-member__image:after { content: ""; display: block; padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */ }

.committee-member__image img { position: absolute; /* Take your picture out of the flow */ top: 0; bottom: 0; left: 0; right: 0; /* Make the picture taking the size of it's parent */ width: 100%; /* This if for the object-fit */ height: 100%; /* This if for the object-fit */ object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */ object-position: center; border-radius: 100%; }

.committee-member__email a { color: #666666; transform: scale(1); transition: transform ease 200ms, color ease 200ms; font-weight: 400; }

.committee-member__email a:hover { transform: scale(1.25); color: #196090; }

.committee-member__socials { display: flex; flex-direction: row; justify-content: center; align-items: center; gap: 0.5em; font-size: 1.125rem; }

.committee-member__socials a { color: #666666; transform: scale(1); transition: transform ease 200ms, color ease 200ms; }

.committee-member__socials a:hover { transform: scale(1.25); color: #196090; }

.idea { border: 1px solid #999999; border-radius: 3px; padding: 10px; }

.idea h2 { margin-top: 5px; }

.idea ul.idea__statuses li.idea-status { list-style-type: none; margin: 10px 0; padding: 10px; }

.idea ul.idea__statuses li.idea-status h3 { margin-top: 5px; }

.idea ul.idea__statuses li.idea-status--in-progress { background-color: #fffdaa; }

.idea ul.idea__statuses li.idea-status--stalled { background-color: #ffd89e; }

.idea ul.idea__statuses li.idea-status--rejected { background-color: #ffa293; }

.idea ul.idea__statuses li.idea-status--completed { background-color: #c3ff99; }

.idea ul.idea__statuses li.idea-status--proposed { background-color: #e5e5e5; }

.btn, a.btn { border: 4px solid #D30055; border-radius: 3px; color: #999; display: inline-block; font-size: 1em; font-weight: 800; letter-spacing: 0; line-height: 20px; margin: 0.25em 0; padding: 0.5em 1em; text-align: center; text-decoration: none; text-transform: uppercase; transition: all .2s; }

.btn--light, .btn.light, a.btn--light, a.btn.light { background-color: #fff; color: #D30055; }

.btn--dark, .btn.dark, a.btn--dark, a.btn.dark { background-color: #D30055; color: #fff; }

.btn:hover, .btn:focus, a.btn:hover, a.btn:focus { background-color: #220021; border-color: #220021; color: #fff; }

.btn:focus, a.btn:focus { transform: scale(0.8); outline: 2px solid #D30055; }

.btn.slide, a.btn.slide { z-index: 1; position: relative; }

.btn.slide::before, a.btn.slide::before { content: ""; display: block; position: absolute; top: 0; left: 0; z-index: -1; width: 0; height: 100%; background-color: #220021; transition: width .25s ease 0s; }

.btn.slide:hover::before, a.btn.slide:hover::before { transition: width .5s ease-in-out 0s; width: 100%; }

.btn.slide.dark:hover:not(:focus), a.btn.slide.dark:hover:not(:focus) { background-color: #D30055; }

.btn.slide.light:hover:not(:focus), a.btn.slide.light:hover:not(:focus) { background-color: #fff; }

.intro { display: flex; flex-direction: row; flex-wrap: wrap; margin: 2rem auto 6rem; }

.intro .page-title, .intro .intro-text { margin: 0; }

@media screen and (min-width: 0) and (min-width: 0) { .intro .page-title, .intro .intro-text { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

.intro .page-title { font-size: 3em; background: linear-gradient(to left, #D30055, #550053); background-clip: text; -webkit-background-clip: text; color: transparent; }

@media screen and (max-width: 900px) { .intro .page-title { font-size: 2em; margin-bottom: 0.5em; } }

.intro .intro-text p { margin: 0 auto 1em; }

.intro .intro-text .link-list { margin-top: 1em; }

.intro .intro-text .link-list .btn:first-child { margin-right: 1em; }

.bold-text { font-weight: bold; }

.grey-bg { width: 100%; background: linear-gradient(to bottom, #f0f0f0, #fff); }

.no-margin { margin-top: 0; }

.page-section.home { box-sizing: border-box; padding: 0 1em; }

.featured-items { max-width: 1000px; width: 95%; display: flex; flex-direction: column; }

.featured-items .btn:hover { background-color: #f0f0f0; }

.hero { text-align: center; margin: 5rem auto 7rem; max-width: 900px; padding: 0 10px; width: 100%; flex-shrink: 1; }

@media screen and (max-width: 900px) { .hero { margin: 20px auto; } }

.hero__title { font-size: 2.5rem; font-weight: 800; letter-spacing: 0.1em; line-height: 38px; text-transform: uppercase; margin: 1em auto; }

@media screen and (max-width: 450px) { .hero__title { font-size: 35px; letter-spacing: 1px; } }

.hero__title--small { font-size: 16px; letter-spacing: 5px; font-weight: 400; margin-bottom: 10px; }

.hero--light { color: #ffffff; }

.page-section h1 { font-size: 2rem; }

.page-section h2 { font-size: 1.5rem; }

.unit-choice { background-color: #196090; padding: 50px; width: 600px; margin: 30px; margin-top: 0; margin-top: 0; text-align: center; }

.unit-choice .btn { color: #333333; border: #333333 solid; }

.unit-choice .btn:hover { background-color: #ffffff; color: #333333; border: #333333 solid; }

.unit-choice h1 { color: #ffffff; line-height: 100%; }

.calendar { max-width: 1000px; margin: 0 20px; }

.calendar__event--university { background-color: #9b59b6 !important; border: 1px solid #9b59b6 !important; padding: 0px 5px 5px !important; }

.calendar__event--university:before { content: 'University'; font-size: 8px; line-height: 8px; margin: 0; padding: 0; text-transform: uppercase; }

.calendar__event--css { background-color: #196090 !important; border: 1px solid #196090 !important; padding: 0px 5px 5px !important; }

.calendar__event--css:before { content: 'CSS'; font-size: 8px; line-height: 8px; margin: 0; padding: 0; text-transform: uppercase; }

.calendar__event--beees { background-color: #e74c3c !important; border: 1px solid #e74c3c !important; padding: 0px 5px 5px !important; }

.calendar__event--beees:before { content: 'BEEES'; font-size: 8px; line-height: 8px; margin: 0; padding: 0; text-transform: uppercase; }

.calendar a { color: white; }

.navigation-items { width: 95%; display: flex; justify-content: space-between; align-items: center; align-content: center; margin: 0 auto; padding: 10px 0; }

@media screen and (max-width: 900px) { .navigation-items { flex-direction: column; } }

.page-navigation { display: inline-flex; width: 100%; justify-content: flex-end; }

@media screen and (max-width: 900px) { .page-navigation { padding: 0 0; width: 100%; justify-content: center; } }

.page-navigation__links { display: flex; flex-wrap: wrap; justify-content: end; }

.page-navigation__links li { display: inline; list-style-type: none; padding-bottom: 3px; transition: 0.1s; border: 1px solid rgba(0, 0, 0, 0); }

.page-navigation__links li:hover { border: 1px solid white; }

@media screen and (max-width: 900px) { .page-navigation__links li { display: block; margin: 10px 0; text-align: center; width: 100%; font-size: x-large; } }

.page-navigation a { color: #ffffff; font-size: 0.8rem; font-weight: 800; letter-spacing: 0.5px; padding: 10px; text-decoration: none; text-transform: uppercase; font-family: "Open Sans", sans-serif; }

@media screen and (max-width: 900px) { .page-navigation a { /* font-size: x-large; */ } }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

body { margin: 0; }

#explorecont { display: grid; grid-template: 1fr/1fr minmax(10%, 960px) 1fr; background: #040204; font-family: 'Press Start 2P', cursive; }

#explorecont .side { background: url(/assets/images/contrib/events/2018-11-explore/bg.jpg); width: 80%; }

#explorecont #left { margin-right: 20%; background-position-x: right; }

#explorecont #right { margin-left: 20%; }

#explorecont #middle { grid-area: 1 / 2 / 2 / 3; color: #dcdedc; }

#explorecont #middle img { display: block; margin: 0 auto; max-width: 80%; padding: 2em; }

#explorecont #middle h1 { font-size: xx-large; }

#explorecont #middle #maintext { padding: 2em; margin-bottom: 2em; background: #fc0204; }

#eventcont { display: flex; flex-direction: column; }

#eventcont div:nth-child(even) { align-self: flex-end; }

#eventcont div:nth-child(odd) { align-self: flex-start; }

#eventcont .event { display: grid; grid-template: 13.5em 1fr/minmax(100%, 24em); border: 5px solid #2422dc; border-radius: 0.5em; overflow: hidden; color: #040204; max-width: 100%; margin-bottom: 2em; }

#eventcont .event .image { grid-area: 1 / 1 / 2 / 2; background: slategray; height: 100%; }

#eventcont .event .fb { grid-area: 1 / 1 / 2 / 2; background: url(/assets/images/contrib/events/2018-11-explore/flogo-HexRBG-Wht-100.png); background-size: contain; width: 60px; height: 60px; z-index: 2; }

#eventcont .event .desc { grid-area: 2 / 1 / 3 / 2; background-color: #dcdedc; height: 100%; }

#eventcont .event .desc .info { display: flex; justify-content: space-evenly; border-bottom: 1px solid gray; background: #fcb6dc; }

#eventcont .event .desc .info p { width: 50%; text-align: center; line-height: 2em; font-weight: bold; }

#eventcont .event .desc .text { padding: 1em; }

#cookie-notice { padding: 0.5rem 1rem; display: none; text-align: center; position: fixed; bottom: 0; width: calc(100% - 2rem); background: #333333; color: #f0f0f0; }

#cookie-notice a { display: inline-block; cursor: pointer; margin-left: 0.5rem; }

@media (max-width: 767px) { #cookie-notice span { display: block; padding-top: 3px; margin-bottom: 1rem; } #cookie-notice a { position: relative; bottom: 4px; } }

.acumin { font-family: acumin-pro, "Helvetica Neue", Helvetica, "Open Sans", sans-serif; }

.social-links { display: flex; flex-direction: row; justify-content: center; flex-wrap: wrap; align-content: stretch; max-width: 900px; width: 100%; padding-bottom: 2.5rem; }

.social-links .social-links__item { width: 8rem; height: 8rem; margin: 10px 15px; display: inline-flex; align-items: center; justify-content: center; transition: all ease-in-out 0.15s; border-radius: 0.5rem; position: relative; color: #ffffff; text-decoration: none; /*&:after { content: attr(title); position: absolute; bottom: 0px; left: 50%; transform: translateX(-50%) translateY(125%); background: $darkgray; padding: 0.25em 1em; border-radius: 5px; font-size: 0.75rem; opacity: 0; transition: all ease-out 0.3s 0.15s; z-index: -18; } &:hover:after { opacity: 1; }*/ }

.social-links .social-links__item--facebook { background: #3b5998; }

.social-links .social-links__item--twitter { background: #1da1f2; }

.social-links .social-links__item--github { background: #24292e; }

.social-links .social-links__item--linkedin { background: #4875b4; }

.social-links .social-links__item--youtube { background: #c4302b; }

.social-links .social-links__item--instagram { background: linear-gradient(45deg, #405de6, #5851db, #833ab3, #c13584, #e1306c, #fd1d1d); }

.social-links .social-links__item--discord { background: #7289da; }

.social-links .social-links__item--newsletter { background: #44c765; }

.social-links .social-links__item--strava { background: #fc5200; }

.social-links .social-links__item--rss { background: #fda333; }

.social-links .social-links__item--tiktok { background: #fe2c55; }

.social-links .social-links__item--calendar { background: #2d32ad; }

.social-links .social-links__item:hover, .social-links .social-links__item:focus { box-shadow: 0px 10px 10px #cccccc; transform: translateY(-1px) scale(1.02); z-index: 9999999999; }

.social-links .social-links__item i { font-size: 3rem; }

.social-links .social-links__item img { height: 40px; width: 40px; }

.links-holder { border-radius: 1rem; background-repeat: no-repeat; background-position: bottom right; background-size: contain; box-shadow: -1em 1em 2em rgba(0, 0, 0, 0.02), 1em -1em 2em white; background-color: #fff; background-image: url("/assets/images/contrib/sponsorship-page/standard-background.svg"); }

[data-tooltip] { position: relative; }

[data-tooltip]::after { content: attr(data-tooltip); position: absolute; background-color: #333333; color: #ffffff; border-radius: 5px; padding: 0.5rem; transform: translate(-50%, -50%) scale(0); transition: opacity ease 0.2s, visibility ease 0.2s, transform ease 0.2s; opacity: 0; font-family: "Open Sans", sans-serif; font-weight: 700; font-size: 0.75rem; z-index: 9999999; line-height: 1rem; pointer-events: none; text-align: center; transform-origin: center top; top: 100%; left: 50%; }

[data-tooltip]:hover::after { opacity: 1; visibility: visible; transform: translate(-50%, 20%) scale(1); }

.pager { display: flex; justify-content: space-between; align-content: center; }

html.agm-event { scroll-behavior: smooth; scroll-snap-type: y proximity; scroll-snap-stop: always; overflow-y: scroll; }

@media screen and (max-width: 900px) { html.agm-event { scroll-snap-type: unset; } }

body.agm-event { width: 100%; height: 100vh; --fs-200: 0.75rem; --fs-300: 1rem; --fs-400: 1.25rem; --fs-500: 2rem; --fs-600: 2.827rem; --fs-700: 4rem; --fs-800: 5.653rem; }

body.agm-event .page { scroll-snap-align: start; min-height: calc(100vh - 2rem); padding: 1rem; }

body.agm-event .page.hero-page { display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

body.agm-event .page.hero-page > :first-child { text-align: left; align-self: start; }

body.agm-event .page.hero-page .hero-page-buttons { margin-top: 1em; }

body.agm-event .page.hero-page * { max-width: 80rem; text-align: center; }

body.agm-event .page.hero-page a img { height: var(--fs-600); }

body.agm-event .page .page-content { max-width: 80ch; margin: 0 auto; }

body.agm-event .page .page-content ol, body.agm-event .page .page-content ul { margin: 1em 0; }

body.agm-event .page .page-content ol li { list-style-type: decimal; list-style-position: inside; text-indent: 0; }

body.agm-event .page .page-content ul li { list-style-type: circle; list-style-position: inside; text-indent: 0; }

body.agm-event .page .page-content .center { display: flex; justify-content: center; align-items: center; }

body.agm-event .page .page-content.event-page section { background-color: inherit; box-shadow: none; margin: unset; padding: unset; }

body.agm-event .page .page-content.event-page .event-page__details__row .fas, body.agm-event .page .page-content.event-page .event-page__details__row .fab, body.agm-event .page .page-content.event-page .event-page__details__row .far { color: #ffffff; }

body.agm-event .page:nth-child(2n+1) { background-color: #fa8a90; }

body.agm-event .page:nth-child(2n) { background-color: #1d1e1b; color: #fff; }

body.agm-event .role-page { display: flex; flex-direction: column; justify-content: space-between; align-items: center; }

body.agm-event .role-page .roles-container { display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-evenly; width: 90vw; max-width: 1000px; gap: 1rem 2rem; }

body.agm-event .role-page .roles-container .role-card { width: 350px; }

@media screen and (max-width: 900px) { body.agm-event { --fs-200: 0.875rem; --fs-300: 1rem; --fs-400: 1.125rem; --fs-500: 1.563rem; --fs-600: 1.953rem; --fs-700: 2.441rem; --fs-800: 3.052rem; } }

body.agm-event h1 { text-transform: none; }

body.agm-event h1, body.agm-event h2, body.agm-event h3, body.agm-event h4, body.agm-event h5, body.agm-event h6 { /* Note: this is only on the agm page */ --font-weight: 400; --font-width: 80; font-weight: normal; font-family: 'Forum', cursive; font-stretch: 100%; line-height: 1.1; color: var(--col-primary); border-bottom: 2px solid; margin: 0em auto 0.25em; }

body.agm-event h1, body.agm-event .h1 { font-size: var(--fs-800); }

body.agm-event h2, body.agm-event .h2 { --flow-spacer: 1.5em; font-size: var(--fs-700); }

body.agm-event h3, body.agm-event .h3 { --flow-spacer: 1.5em; font-size: var(--fs-600); }

body.agm-event h4, body.agm-event .h4 { font-size: var(--fs-500); }

body.agm-event small, body.agm-event .text-small { font-size: var(--fs-300); }

body.agm-event strong { --font-weight: 500; font-weight: normal; }

body.agm-event a { color: var(--col, var(--col-secondary)); }

body.agm-event a:hover, body.agm-event a:focus { color: var(--clr-primary-400); text-decoration: none; }

body.agm-event p:not([class]), body.agm-event ul:not([class]), body.agm-event li:not([class]) { max-width: 60ch; }

body.agm-event p { margin: 0.5em 0; }

body.agm-event .agm-btn { padding: 0.25em 1em; border: 0.1em solid; color: #1d1b1e; text-decoration: none; font-family: 'Forum', cursive; font-size: var(--fs-400); background-color: transparent; position: relative; z-index: 1; cursor: pointer; }

body.agm-event .agm-btn:after { content: ''; background-color: #ffffff; position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: -1; transform: scaleX(0); transform-origin: left; transition: transform ease 200ms; }

body.agm-event .agm-btn:hover:after { transform: scaleX(1); }

.page-section.sponsor * { box-sizing: border-box; }

.page-section.sponsor .grid-container { display: flex; flex-direction: row; flex-wrap: wrap; }

.page-section.sponsor ::selection { background: #a00040; color: #fff; }

.page-section.sponsor h1 { text-align: left; }

.page-section.sponsor h2, .page-section.sponsor .heading { font-size: 2em; text-transform: uppercase; margin: 0.5em auto; }

.page-section.sponsor strong { font-weight: bold; }

.page-section.sponsor p { margin: 0.5em auto 1.5em; }

.page-section.sponsor .btn { font-weight: 800; margin: 0.25em 0; border: 4px solid #D30055; font-size: 1em; letter-spacing: 0; padding: 0.5em 1em; }

.page-section.sponsor .btn.light { background-color: #fff; color: #D30055; }

.page-section.sponsor .btn.dark { background-color: #D30055; color: #fff; }

.page-section.sponsor .btn:hover, .page-section.sponsor .btn:focus { background-color: #220021; border-color: #220021; color: #fff; }

.page-section.sponsor .btn:focus { transform: scale(0.8); outline: 2px solid #D30055; }

.page-section.sponsor .btn.slide { z-index: 1; position: relative; }

.page-section.sponsor .btn.slide::before { content: ""; display: block; position: absolute; top: 0; left: 0; z-index: -1; width: 0; height: 100%; background-color: #220021; transition: width .25s ease 0s; }

.page-section.sponsor .btn.slide:hover::before { transition: width .5s ease-in-out 0s; width: 100%; }

.page-section.sponsor .btn.slide.dark:hover:not(:focus) { background-color: #D30055; }

.page-section.sponsor .btn.slide.light:hover:not(:focus) { background-color: #fff; }

.page-section.sponsor .intro { display: flex; flex-direction: row; flex-wrap: wrap; margin: 2rem auto 6rem; }

.page-section.sponsor .intro .page-title, .page-section.sponsor .intro .intro-text { margin: 0; }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor .intro .page-title, .page-section.sponsor .intro .intro-text { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

.page-section.sponsor .intro .page-title { font-size: 3em; background: linear-gradient(to left, #D30055, #550053); background-clip: text; -webkit-background-clip: text; color: transparent; }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor .intro .page-title { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 1000px) { .page-section.sponsor .intro .page-title { padding-right: 0; } }

@media screen and (min-width: 0) { .page-section.sponsor .intro .page-title { padding-left: 0; } }

@media screen and (max-width: 900px) { .page-section.sponsor .intro .page-title { font-size: 2em; margin-bottom: 0.5em; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor .intro .intro-text { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .page-section.sponsor .intro .intro-text { padding-left: 0; } }

@media screen and (min-width: 1000px) { .page-section.sponsor .intro .intro-text { padding-left: 1rem; } }

@media screen and (min-width: 0) { .page-section.sponsor .intro .intro-text { padding-right: 0; } }

.page-section.sponsor .intro .intro-text p { margin: 0 auto 1em; }

.page-section.sponsor .intro .intro-text .link-list { margin-top: 1em; }

.page-section.sponsor .intro .intro-text .link-list .btn:first-child { margin-right: 1em; }

.page-section.sponsor .logo-banner { background-color: #220021; background-image: url("/assets/images/contrib/sponsorship-page/logos-background.svg"); background-repeat: no-repeat; background-position: right bottom; background-size: contain; width: 100%; color: #fff; text-align: center; padding: 3rem 0; margin-bottom: 0; }

.page-section.sponsor .logo-banner .title { font-size: 1em; font-weight: 400; text-transform: uppercase; letter-spacing: 0.2em; margin: 0; z-index: 1; }

.page-section.sponsor .logo-banner .slider { margin-top: 1em; position: relative; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }

.page-section.sponsor .logo-banner .slider .controls { position: absolute; display: flex; flex-direction: row; flex-wrap: wrap; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 100%; }

.page-section.sponsor .logo-banner .slider .controls.noscript { display: none; }

.page-section.sponsor .logo-banner .slider .controls button { position: absolute; font-size: 3em; background: transparent; border: none; color: #fff; cursor: pointer; transition: text-shadow .5s ease-in-out 0s, color .5s ease 0s, transform .5s ease-in-out 0s; text-shadow: 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff, 0 0 0 #fff; }

@media screen and (max-width: 900px) { .page-section.sponsor .logo-banner .slider .controls button { font-size: 1.5em; } }

.page-section.sponsor .logo-banner .slider .controls button:nth-child(1) { left: 0; }

.page-section.sponsor .logo-banner .slider .controls button:nth-child(2) { right: 0; }

.page-section.sponsor .logo-banner .slider .controls button:hover, .page-section.sponsor .logo-banner .slider .controls button:focus { color: #220021; text-shadow: 3px 0 0 #fff, -3px 0 0 #fff, 0 3px 0 #fff, 0 -3px 0 #fff; }

.page-section.sponsor .logo-banner .slider .controls button:focus { outline: none; transform: scale(1.2); text-shadow: 5px 0 0 #f39c12, -5px 0 0 #f39c12, 0 5px 0 #f39c12, 0 -5px 0 #f39c12; }

.page-section.sponsor .logo-banner .slider .slides-viewport { z-index: 1; overflow: hidden; scroll-behavior: smooth; }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor .logo-banner .slider .slides-viewport { width: calc(10 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor .logo-banner .slider .slides-viewport { width: calc(8 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .page-section.sponsor .logo-banner .slider .slides-viewport { padding-left: 0; } }

@media screen and (min-width: 0) { .page-section.sponsor .logo-banner .slider .slides-viewport { padding-right: 0; } }

.page-section.sponsor .logo-banner .slider .slides-viewport .slides-list { display: flex; }

.page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide { width: 100%; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-between; align-content: space-between; }

.page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide .brand { margin: 1rem 0; width: 100%; height: 3em; }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide .brand { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide .brand { width: calc(4 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

.page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide .brand[data-tooltip]::after { top: 0; transform: translate(-50%, -20%) scale(1); }

.page-section.sponsor .logo-banner .slider .slides-viewport .slides-list .slide .brand img { width: 100%; height: 100%; max-width: 10em; object-fit: contain; object-position: center; }

.page-section.sponsor .section { margin-bottom: 6rem; }

.page-section.sponsor #why-css { margin-top: 6rem; }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor #why-css .grid-container .text { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor #why-css .grid-container .text { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) { .page-section.sponsor #why-css .grid-container .text { padding-right: 0; } }

@media screen and (min-width: 0) { .page-section.sponsor #why-css .grid-container .text { padding-left: 0; } }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor #why-css .grid-container .right-col { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor #why-css .grid-container .right-col { width: calc(5 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) { .page-section.sponsor #why-css .grid-container .right-col { margin-left: calc(1 * 100% / 12); } }

@media screen and (min-width: 900px) { .page-section.sponsor #why-css .grid-container .right-col { padding-left: 0; } }

@media screen and (min-width: 0) { .page-section.sponsor #why-css .grid-container .right-col { padding-right: 0; } }

.page-section.sponsor #why-css .grid-container .right-col blockquote { position: relative; color: inherit; font-weight: bold; margin: 0; border: 0; padding: 0; }

.page-section.sponsor #why-css .grid-container .right-col blockquote::before { content: '“'; font-size: 2em; font-weight: 400; position: absolute; top: -0.5em; left: -0.5em; }

.page-section.sponsor #why-css .grid-container .right-col cite { display: block; margin-top: 0.5em; }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor #get-involved .grid-container .left-col { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor #get-involved .grid-container .left-col { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) { .page-section.sponsor #get-involved .grid-container .left-col { padding-right: 0; } }

@media screen and (min-width: 0) { .page-section.sponsor #get-involved .grid-container .left-col { padding-left: 0; } }

@media screen and (min-width: 0) and (min-width: 0) { .page-section.sponsor #get-involved .grid-container .right-col { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .page-section.sponsor #get-involved .grid-container .right-col { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .page-section.sponsor #get-involved .grid-container .right-col { padding-left: 0; } }

@media screen and (min-width: 900px) { .page-section.sponsor #get-involved .grid-container .right-col { padding-left: 1rem; } }

@media screen and (min-width: 0) { .page-section.sponsor #get-involved .grid-container .right-col { padding-right: 0; } }

.page-section.sponsor #get-involved .grid-container .right-col img { width: 100%; height: auto; }

.page-section.sponsor #get-involved .events h4 { text-transform: uppercase; }

.page-section.sponsor #get-involved .events h5 { font-weight: 700; margin: 1.5em auto 0; }

.page-section.sponsor .contact { margin-top: 12em; background-repeat: no-repeat; background-size: contain; background-position: right bottom; }

@media screen and (max-width: 900px) { .page-section.sponsor .contact { margin-top: 6em; } }

.page-section.sponsor .contact .wrapper { padding-top: 1em; padding-bottom: 1em; border-top: 1px solid #333333; }

@media screen and (max-width: 900px) { .page-section.sponsor .contact .wrapper { border: none; } }

.page-section.sponsor .contact .wrapper .heading { text-align: center; }

.sponsorship-cards { margin-top: 2em; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }

.sponsorship-cards .card { width: 100%; box-sizing: border-box; }

@media screen and (min-width: 900px) and (min-width: 900px) { .sponsorship-cards .card { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (max-width: 900px) { .sponsorship-cards .card { margin-bottom: 2em; } }

@media screen and (min-width: 0) { .sponsorship-cards .card:first-of-type { padding-left: 0; } }

@media screen and (min-width: 0) { .sponsorship-cards .card:last-of-type { padding-right: 0; } }

.sponsorship-cards .card .standard, .sponsorship-cards .card .premium { border-radius: 0.5rem; background-repeat: no-repeat; background-position: bottom right; background-size: contain; box-shadow: -1em 1em 2em rgba(0, 0, 0, 0.02), 1em -1em 2em white; padding: 1em 4em 3em; }

@media screen and (max-width: 900px) { .sponsorship-cards .card .standard, .sponsorship-cards .card .premium { padding: 1em 2em 3em; } }

.sponsorship-cards .card .standard h4, .sponsorship-cards .card .premium h4 { text-align: center; font-size: 1.25em; margin: 1em auto 1.5em; font-weight: 700; }

.sponsorship-cards .card .standard .benefits .break, .sponsorship-cards .card .premium .benefits .break { margin-bottom: 1em; }

.sponsorship-cards .card .standard .benefits .true::before, .sponsorship-cards .card .standard .benefits .false::before, .sponsorship-cards .card .premium .benefits .true::before, .sponsorship-cards .card .premium .benefits .false::before { font-family: "Font Awesome 5 Free"; font-weight: 900; display: inline-block; margin-right: 1.5ex; width: 1em; content: '\f00c'; }

.sponsorship-cards .card .standard .benefits .false, .sponsorship-cards .card .premium .benefits .false { color: #999999; }

.sponsorship-cards .card .standard .benefits .false::before, .sponsorship-cards .card .premium .benefits .false::before { content: '\f00d'; }

.sponsorship-cards .card .standard { background-color: #fff; background-image: url("/assets/images/contrib/sponsorship-page/standard-background.svg"); }

.sponsorship-cards .card .standard .true::before { color: #39A100; }

.sponsorship-cards .card .standard .false::before { color: #C63B3D; }

.sponsorship-cards .card .premium { background-color: #C63B63; background-image: url("/assets/images/contrib/sponsorship-page/premium-background.svg"); color: #fff; }

.sponsorship-cards .card .premium h4 .fas { border-radius: 50%; background: #fff; color: #C63B63; vertical-align: middle; font-size: 0.6em; padding: 0.2em; margin-left: 0.5em; }

.sponsorship-cards .sponsor-cta, .page-section.sponsor .sponsorship-cards a.btn.sponsor-cta { margin: 3em auto 0; }

.contact-form label { display: block; font-weight: 700; font-size: 1em; margin: 0 auto 0.5em; }

.contact-form input, .contact-form select, .contact-form textarea { display: block; box-sizing: border-box; font-size: 1em; font-family: "Open Sans", sans-serif; padding: 0.25em 0.5em; width: 100%; background: #fff; border: 1px solid #333333; border-radius: 5px; }

.contact-form input:focus, .contact-form select:focus, .contact-form textarea:focus { border: 3px solid #D30055; box-shadow: 0 0 0.5em #3a0017; outline: none; }

.contact-form input[type="submit"] { cursor: pointer; text-align: center; max-width: 14ch; }

.contact-form .row { display: flex; flex-direction: row; flex-wrap: wrap; margin: 1rem auto; }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form .half-cols { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form .half-cols { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form .left-col { padding-left: 0; } }

@media screen and (min-width: 0) { .contact-form .left-col { padding-right: 0; } }

@media screen and (min-width: 900px) { .contact-form .left-col { padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form .right-col { padding-right: 0; } }

@media screen and (min-width: 0) { .contact-form .right-col { padding-left: 0; } }

@media screen and (min-width: 900px) { .contact-form .right-col { padding-left: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #company-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form #company-group { width: calc(7 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #company-group { padding-left: 0; } }

@media screen and (min-width: 0) { .contact-form #company-group { padding-right: 0; } }

@media screen and (min-width: 900px) { .contact-form #company-group { padding-right: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #budget-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form #budget-group { width: calc(5 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #budget-group { padding-right: 0; } }

@media screen and (min-width: 0) { .contact-form #budget-group { padding-left: 0; } }

@media screen and (min-width: 900px) { .contact-form #budget-group { padding-left: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #email-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form #email-group { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #email-group { padding-left: 0; } }

@media screen and (min-width: 0) { .contact-form #email-group { padding-right: 0; } }

@media screen and (min-width: 900px) { .contact-form #email-group { padding-right: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #tel-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form #tel-group { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #tel-group { padding-right: 0; } }

@media screen and (min-width: 0) { .contact-form #tel-group { padding-left: 0; } }

@media screen and (min-width: 900px) { .contact-form #tel-group { padding-left: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #interest-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 900px) and (min-width: 900px) { .contact-form #interest-group { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 100em) and (min-width: 100em) { .contact-form #interest-group { width: calc(5 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #interest-group { padding-left: 0; } }

@media screen and (min-width: 0) { .contact-form #interest-group { padding-right: 0; } }

@media screen and (min-width: 900px) { .contact-form #interest-group { padding-right: 1rem; } }

@media screen and (min-width: 0) and (min-width: 0) { .contact-form #message-group { width: calc(12 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (min-width: 0) { .contact-form #message-group { padding-left: 0; } }

@media screen and (min-width: 0) { .contact-form #message-group { padding-right: 0; } }

@media screen and (min-width: 900px) { .contact-form #message-group { padding-right: 1rem; } }

.info-card { margin-top: 2em; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center; }

.info-card .card { width: 100%; box-sizing: border-box; }

@media screen and (min-width: 900px) and (min-width: 900px) { .info-card .card { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (max-width: 900px) { .info-card .card { margin-bottom: 2em; } }

@media screen and (min-width: 0) { .info-card .card:first-of-type { padding-left: 0; } }

@media screen and (min-width: 0) { .info-card .card:last-of-type { padding-right: 0; } }

.info-card .card .standard, .info-card .card .premium { border-radius: 0.5rem; background-repeat: no-repeat; background-position: bottom right; background-size: contain; box-shadow: -1em 1em 2em rgba(0, 0, 0, 0.02), 1em -1em 2em white; padding: 1em 4em 3em; }

@media screen and (max-width: 900px) { .info-card .card .standard, .info-card .card .premium { padding: 1em 2em 3em; } }

.info-card .card .standard h4, .info-card .card .premium h4 { text-align: center; font-size: 1.25em; margin: 1em auto 1.5em; font-weight: 700; }

.info-card .card .standard .benefits .break, .info-card .card .premium .benefits .break { margin-bottom: 1em; }

.info-card .card .standard .benefits .true::before, .info-card .card .standard .benefits .false::before, .info-card .card .premium .benefits .true::before, .info-card .card .premium .benefits .false::before { font-family: "Font Awesome 5 Free"; font-weight: 900; display: inline-block; margin-left: -1.5ex; width: 2em; content: '\f00c'; }

.info-card .card .standard .benefits .false, .info-card .card .premium .benefits .false { color: #999999; }

.info-card .card .standard .benefits .false::before, .info-card .card .premium .benefits .false::before { content: '\f00d'; }

.info-card .card .standard { background-color: #fff; background-image: url("/assets/images/contrib/sponsorship-page/standard-background.svg"); }

.info-card .card .standard .true::before { color: #39A100; }

.info-card .card .standard .false::before { color: #C63B3D; }

.info-card .card .premium { background-color: #C63B63; background-image: url("/assets/images/contrib/sponsorship-page/premium-background.svg"); color: #fff; }

.info-card .card .premium h4 .fas { border-radius: 50%; background: #fff; color: #C63B63; vertical-align: middle; font-size: 0.6em; padding: 0.2em; margin-left: 0.5em; }

.info-card .card .premium a { color: #220021; }

.info-card .side-note { width: 100%; box-sizing: border-box; font-size: larger; }

@media screen and (min-width: 900px) and (min-width: 900px) { .info-card .side-note { width: calc(6 * 100% / 12); padding-left: 1rem; padding-right: 1rem; } }

@media screen and (max-width: 900px) { .info-card .side-note { margin-bottom: 2em; } }

@media screen and (min-width: 0) { .info-card .side-note:first-of-type { padding-left: 0; } }

@media screen and (min-width: 0) { .info-card .side-note:last-of-type { padding-right: 0; } }

/*# sourceMappingURL=site.css.map */