---
layout: page
title: CSS AGM 2019
permalink: /agm
---

<h1>CSS AGM 2019</h1>

<!-- <div class="agm-timer">
    <div class="agm-timer-title" width="300px">Submissions end May 1st, midnight</div>
    <div class="agm-timer-cont">
        <span id="agm__time-days"></span>
        <span id="agm__time-hours"></span>
        <span id="agm__time-mins"></span>
        <span id="agm__time-secs"></span>
    </div>
</div> -->

<div>
    VOTING LINKS:

    <a href="bit.ly/css-agm19-pres">PRESIDENT</a>
    <a href="bit.ly/css-agm19-vicepres">VICE-PRESIDENT</a>
    <a href="bit.ly/css-agm19-sec">SECRETARY</a>
    <a href="bit.ly/css-agm19-treas">TREASURER</a>
    <a href="bit.ly/css-agm19-events">EVENTS OFFICER</a>
    <a href="bit.ly/css-agm19-press">PRESS OFFICER</a>
    <a href="bit.ly/css-agm19-web">WEBMASTER</a>
    <a href="bit.ly/css-agm19-sport">SPORTS & SOCIAL OFFICER</a>
    <a href="bit.ly/css-agm19-outreach">OUTREACH OFFICER</a>
    <a href="bit.ly/css-agm19-eqd">EQUALITY & DIVERSITY OFFICER</a>
    <a href="bit.ly/css-agm19-gen1">GENERAL OFFICER #1</a>
    <a href="bit.ly/css-agm19-gen2">GENERAL OFFICER #2</a>

    <a href="bit.ly/css-agm19-mot1">MOTION 1</a>
    <a href="bit.ly/css-agm19-mot2">MOTION 2</a>
</div>

<p>
    CSS' AGM is upon us once again! Join us in <b>MVB 1.11(A) at 17:00, Friday 3rd May</b> to vote on motions and committee nominees.
</p>

<p>
    If you're abroad this year or can't attend the AGM - don't worry! You can still nominate yourself/submit a motion. We recommend recording a short video of yourself speaking so that we can play it at the AGM. If you like, we can read out a written statement instead.
</p>

<p>
    (Nominations for First-Year Rep and Post-Grad Rep will be occur after the start of the next university year)
</p>

<p>
    Free pizza 🍕, falafel 🧆, and cider/beer 🍺 as per usual x
</p>

<script>
    const end = new Date("May 02, 2019 00:00:00").getTime();
    // thank you https://www.developerdrive.com/2019/02/build-countdown-timer-pure-javascript/

    var timer = setInterval(() => {
        let now = new Date().getTime();
        let t = end - now;

        let days = Math.floor(t / (1000 * 60 * 60 * 24));
        let hours = Math.floor((t % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        let mins = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
        let secs = Math.floor((t % (1000 * 60)) / 1000);

        document.getElementById('agm__time-days').innerHTML = days + 'd';
        document.getElementById('agm__time-hours').innerHTML = hours + 'h';
        document.getElementById('agm__time-mins').innerHTML = mins + 'm';
        document.getElementById('agm__time-secs').innerHTML = secs + 's';
    }, 1000);
</script>

<br>
<hr>

<h2>Roles</h2>
<br>

<a class="agm btn btn--dark" href="http://bit.ly/css-agm19-roles">
    Nominate yourself for a role!
</a>

<p>
    Could you see yourself at the helm of our next Hackathon or Bar Crawl? Being a committee member is a great way to gain experience running events, dealing with industrial sponsors and communications. And to boot - it's a whole lot of fun!
</p>
<p>
    You will have a chance to speak for 60s (once, regardless of how many positions you apply for) during the AGM.
</p>

<p>
    Here's a taste of what each role does:
</p>

{% for role in site.data.roles %}
    <div class="agm-role">
        <h6 class="agm-role-title">{{ role.role }}</h6>
        <p class="agm-role-desc">
            <ul>
                {% for point in role.desc %}
                    <li>{{ point }}</li>
                {% endfor %}
            </ul>
        </p>
        <!-- <p class="agm-role-desc">{{ role.desc }}</p> -->
    </div>
{% endfor %}

<br>
<hr>

<h2>Motions</h2>
<br>

<a class="agm btn btn--dark" href="http://bit.ly/css-agm19-motions">
    Submit a motion!
</a>

<p>
    Want to make a change to how the society runs? Put forward a motion to change our constitution (https://cssbristol.co.uk/pages/constitution).
</p>
<p>
    Constitutional changes must receive a two-thirds majority. Non-constitutional motions must receive a majority.
</p>