<div class="section" id="featured-section">
  <div class="section-title">What's currently on</div>
  <div class="section-content clear">

    <div class="feat-col">
      <a id="feat-item-1" class="feat-item item-large type-{{ :: main.featuredItems[0].type }}" href="#" target="_blank" title="{{ :: main.featuredItems[0].title }}">
        <div class="item-title">{{ :: main.featuredItems[0].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[0].meta }}</div>
      </a>
      <a id="feat-item-2" class="feat-item item-small type-{{ :: main.featuredItems[1].type }}" href="#" title="{{ :: main.featuredItems[1].title }}">
        <div class="item-title">{{ :: main.featuredItems[1].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[1].meta }}</div>
      </a>
    </div>

    <div class="feat-col">
      <a id="feat-item-3" class="feat-item item-small type-{{ :: main.featuredItems[2].type }}" href="#" title="{{ :: main.featuredItems[2].title }}">
        <div class="item-title">{{ :: main.featuredItems[2].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[2].meta }}</div>
      </a>
      <a id="feat-item-4" class="feat-item item-small type-{{ :: main.featuredItems[3].type }}" href="#" title="{{ :: main.featuredItems[3].title }}">
        <div class="item-title">{{ :: main.featuredItems[3].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[3].meta }}</div>
      </a>
      <a id="feat-item-5" class="feat-item item-small type-{{ :: main.featuredItems[4].type }}" href="#" target="_blank" title="{{ :: main.featuredItems[4].title }}">
        <div class="item-title">{{ :: main.featuredItems[4].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[4].meta }}</div>
      </a>
    </div>

    <div class="feat-col last-col">
      <a id="feat-item-6" class="feat-item item-small type-{{ :: main.featuredItems[5].type }}" href="#" target="_blank" title="{{ :: main.featuredItems[5].title }}">
        <div class="item-title">{{ :: main.featuredItems[5].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[5].meta }}</div>
      </a>
      <a id="feat-item-7" class="feat-item item-large type-{{ :: main.featuredItems[6].type }}" href="#" title="{{ :: main.featuredItems[6].title }}">
        <div class="item-title">{{ :: main.featuredItems[6].title }}</div>
        <div class="item-meta">{{ :: main.featuredItems[6].meta }}</div>
      </a>
    </div>

  </div>
</div>

<div class="section" id="social-section">
  <div class="inner-section">
    <div class="section-title">Stay in the loop</div>
    <div class="section-content clear">

      <a id="social-facebook" class="social-item" href="https://www.facebook.com/groups/CSSBristol/" title="Facebook" target="_blank">
        <img src="/assets/images/social/facebook-light.png" alt="Facebook icon" />
      </a>

      <a id="social-twitter" class="social-item" href="https://twitter.com/cssbristol" title="Twitter" target="_blank">
        <img src="/assets/images/social/twitter-light.png" alt="Twitter icon" />
      </a>

      <a id="social-github" class="social-item" href="https://github.com/cssbristol" title="GitHub" target="_blank">
        <img src="/assets/images/social/github-light.png" alt="GitHub icon" />
      </a>

    </div>
  </div>
</div>

<div class="section" id="sponsors-section">
  <div class="section-title">Our lovely sponsors</div>
  <div class="section-content clear">

    <a class="sponsor-item" href="https://bloomberg.com" title="Bloomberg" target="_blank">
      <img src="/assets/images/sponsors/bloomberg.png" alt="Bloomberg logo" />
    </a>

    <a class="sponsor-item" href="https://purplesecure.com" title="Purple Secure Systems" target="_blank">
      <img src="/assets/images/sponsors/purplesecure.png" alt="Purple Secure icon" />
    </a>

    <div id="new-sponsor" class="sponsor-item last-item">
      <div>This could be you!</div>
      <a class="btn" href="mailto:president@cssbristol.co.uk" target="_blank">Get in touch</a>
    </div>

  </div>
</div>