---
layout: default
---

<section class="page-section">
  <article class="article blog-post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="blog-post__header">
      <h1 class="blog-post__title" itemprop="name headline">{{ page.title }}</h1>
      <p class="blog-post__meta">
        <h2 class="blog-post__meta">
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y %H:%M" }}</time>
          {% if page.location %}  | {{ page.location }} {% endif %}
        </h2>
      </p>
    </header>
    <div itemprop="articleBody" class="blog-post__body">
      {% if page.banner %}
        {% if page.fb_link %}<a href={{ page.fb_link }}>{% endif %}
          <img src="/assets/images/contrib/events/{{ page.banner }}"/>
        {% if page.fb_link %}</a>{% endif %}
      {% endif %}

      {{ content }}
      {% if page.cohost %}
        <hr/>
        Hosted with:
        <ul>
        {% for host in page.cohost %}
          <li>{{ host }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    </div>
  </article>
</section>
