---
layout: default
feed: "/feed/events.xml"
---
{% comment %}
check if the url starts with "http://", "https://" or "/"; if it does then don't prepend the path ot the companies directory
{% endcomment %}

{% if page.banner %}
  {% assign checkHttpStart = page.banner | split: "http://"| first | strip %}
  {% assign checkHttpsStart = page.banner | split: "https://"| first | strip %}
  {% assign checkSlashStart = page.banner | split: "/"| first | strip %}
  {% if checkHttpStart != "" and checkHttpsStart != "" and checkSlashStart != "" %}
    {% assign bannerPath = page.banner | prepend: "/assets/images/contrib/events/" %}
  {% else %}
    {% assign bannerPath = page.banner %}
  {% endif %}
{% endif %}

<section class="page-section">
  {% if page.cancelled %}
  <div class="event-page-cancelled">
    <h2>This event has been canceled <span role="img">😢</span></h2>
    {% if page.cancel_reason %}
    <p>
      This event was cancelled because: {{ page.cancel_reason }}
    </p>
    {% endif %}
  </div>
  {% endif %}

  <article class="article extrawide event-page">
    <section>
      {% if page.banner %}
      <div
        class="event-page__banner"
        style="background-image: url({{ bannerPath }});"
      ></div>
      {% else %}
      <div
        class="event-page__banner"
        style="background-image: url(/assets/images/core/default-event-banner.jpg);"
      ></div>
      {% endif %}
      <h1 class="event-page__title">{{ page.title }}</h1>
      <div class="blog-post__body">{{ content }}</div>
    </section>
    <section class="event-page__details">
      <h2>The Details</h2>
      {% if page.date %} {% assign endDay = page.date_end | date: '%j' %} {%
      assign startDay = page.date | date: '%j' %} {% if startDay == endDay %}
      <div class="event-page__details__row">
        <i class="fas fa-calendar-day" data-tooltip="Event date" aria-label="Event date"></i>
        <p>{{ page.date | date: "%d/%m/%y" }}</p>
      </div>
      {% else %}
      <div class="event-page__details__row">
        <i class="fas fa-calendar-day" data-tooltip="Event date" aria-label="Event date"></i>
        <p>
          {{ page.date | date: "%d/%m/%y" }} - {{ page.date_end | date:
          "%d/%m/%y" }}
        </p>
      </div>
      {% endif %}
      <div class="event-page__details__row">
        <i class="fas fa-clock" data-tooltip="Event time" aria-label="Event time"></i>
        <p>
          {{ page.date | date: "%H:%M" }} - {{ page.date_end | date: "%H:%M" }}
        </p>
      </div>
      {% endif %} {% if page.location %}
      <div class="event-page__details__row">
        <i class="fas fa-map-marker" data-tooltip="Event location" aria-label="Event location"></i>
        <p>{{ page.location }}</p>
      </div>
      {% endif %} {% if page.price %}
      <div class="event-page__details__row">
        <i class="fas fa-pound-sign" data-tooltip="Ticket price" aria-label="Ticket price"></i>
        <p>{{ page.price }}</p>
      </div>
      {% endif %} {% if page.ticket_link %}
      <a class="event-page__details__row" href="{{ page.ticket_link }}">
        <i class="fas fa-shopping-cart" data-tooltip="Ticket link" aria-label="Ticket link"></i>
        <p>Get a ticket here</p>
      </a>
      {% endif %} {% if page.fb_link %}
      <a class="event-page__details__row" href="{{ page.fb_link }}">
        <i class="fab fa-facebook"></i>
        <p>Join the Facebook event!</p>
      </a>
      {% endif %} {% if page.cohost.size > 0 %}
      <div class="event-page__details__hosted-with">
        <hr />
        <h4>Hosted with:</h4>
        <ul>
          {% for host in page.cohost %} {% if host.company %}
          <li>
            {% include company_logo.html company=host.company %}
          </li>
          {% elsif host.name %} 
          <li> {% if host.link %} 
            <a href="{{ host.link }}"> {{ host.name }} </a>
            {% else %}
            {{ host.name }}
            {% endif %}
          </li>
          {% else %}
          <li>{{ host }}</li>
          {% endif %} {% endfor %}
        </ul>
      </div>
      {% endif %}
    </section>
  </article>
</section>
