---
layout: bare
---

{% include header.html %}

<main class="page-section grey-bg no-margin">
  <div class="container wide">
    <div class="intro">
      <h1 class="page-title">Welcome to Bristol. <br>Welcome to CSS.</h1>
    </div>
    <div class="info-card">
      <div class="side-note intro-text">
        <p>
          Congratulations on getting a place at the University of Bristol!
          We’re Bristol’s Computer Science Society,
          and run tonnes of fun and interesting events throughout the year,
          ranging from tech-talks, workshops, hackathons and bar crawls.
        </p>
        <p>
          If you haven't already signed up via the email you received, you
          can sign up directly from
          <a href="https://www.bristolsu.org.uk/groups/computer-science-society-22c3">
            the CSS SU page</a>.
        </p>
      </div>
      <div class="card">
        <div class="premium">
          <h4>Freshers checklist</h4>
          <ul class="benefits">
            <li class="true">Sign up on <a href="https://www.bristolsu.org.uk/groups/computer-science-society-22c3">the CSS SU page</a> if you haven't already</li>
            <li class="true">Sign up for SU <a href="https://www.bristolsu.org.uk/">Welcome week</a> events</li>
            <li class="true">Sync your calendar to recieve notfications about all of our events</li>
          </ul>
        </div>
      </div>

      <div class="link-list">
        <a class="btn light" href="https://chat.whatsapp.com/BvvBmwWs4kW35PGux1ddY0">Join the CSS Freshers WhatsApp</a>
        <a class="btn light" href="/feeds/">Sync with CSS calendar</a>
        <a class="btn light" href="/events/">Check out our events</a>
      </div>

      <article class="">
        {{ content }}
      </article>
    </div>
  </div>
</main>

{% include sponsors.html %}

{% include footer.html %}
