---
layout: default
---

<section class="page-section">
  <article class="article">
    <header class="blog-post__header">
      <h1 class="blog-post__title">{{ page.title }}</h1>
      <div class="blog-post__meta" itemscope itemtype="http://schema.org/Person">
        {% if page.author.email %}
        <div class="icon">
          <img itemprop="image" src="{{ page.author.email | gravatar_url }}" alt="" />
        </div>
        {% endif %}

        {% if page.author.name %}
        <span itemprop="author">
          <span itemprop="url">{{ page.author.url }}</span>
          {% if page.author.url %}
          <a href="{{ page.author.url }}" itemprop="name">{{ page.author.name }}</a>
          {% else %}
          <span itemprop="name">{{ page.author.name }}</span>
          {% endif %}
        </span> on
        {% endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      </div>
    </header>
    <div class="blog-post__body">
      {{ content }}

      <h2>Feedback</h2>
      <p>Any issues with this tutorial? Submit <a href="https://github.com/cssbristol/cssbristol.github.io/issues">an issue</a> or a <a href="https://github.com/cssbristol/cssbristol.github.io/pulls">pull request</a> and we'll get it sorted out right away.
    </div>
  </article>
</section>
