---
layout: default
---

<section class="page-section">
  <article class="article">
    <header class="blog-post__header">
      <h1 class="blog-post__title">{{ page.title }}</h1>
      <p class="blog-post__meta">
        {% if page.author %}<span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span> on {% endif %}
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%b %-d, %Y" }}</time>
      </p>
    </header>
    <div class="blog-post__body">
      {{ content }}
    </div>
  </article>
</section>
