/* Header styles */

@media (max-width: 550px) {
  #strap-centre {
    font-size: 36px;
  }
}

/* Section styles */

@media (max-width: 550px) {
  .section-content {
    margin: 0 -30px;
  }
}

/* Featured section styles */

@media (max-width: 900px) {
  .feat-col {
    width: 50%;
    &.last-col {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  .feat-col {
    width: 100%;
    float: none;
  }

  .feat-item {
    &.item-large, &.item-small {
      height: 95px;
    }
    .item-title {
      font-size: 22px;
      max-height: 30px;
    }
  }
}

/* Social section styles */

@media (max-width: 550px) {
  .social-item {
    width: 100%;
    height: 95px;
    img {
      height: 30px;
      width: 30px;
      margin-left: -15px;
      margin-top: -15px;
    }
  }
  #social-github {
    width: 100%;
  }
}