<div class="section gradient-up" id="intro-section">
  <div class="inner-section">
    <div class="section-title">Student Health &amp; Support</div>
    <div class="section-content clear">
      <p>
      We are working hard with the department to make sure
      this page be as well-informed as possible. If you think something is
      missing, you can get in touch with someone on 
      <a href="/about">the committee</a>, or you can add the content yourself
      and <a href="https://github.com/cssbristol/cssbristol.github.io" target="_blank">file a pull request</a>. 
      </p>
      
      <p>
      While we sort this page out 
      though, you can use the 
      <a target="_blank" href="https://www.bristolsu.org.uk/justask/welfare/mentalhealth/">Student Union's JustAsk service </a>, or the 
      <a target="_blank" href="http://www.bristol.ac.uk/students/services/mental-health/">Student Health &amp; Counselling Services</a>
      and they are equipped to handle just about everything and anything!
      </p>
    </div>
    
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">Who is this page for?</div>
    <div class="section-content clear">
        This page is for all Computer Science students (whether at
        undergraduate, master student or post graduate level) at the University
        of Bristol. It also serves for students on joint honours courses like
        Computer Science and Electronics, or Computer Science and Maths. It
        aims to hold all of the information we need on where to seek support
        during our studdies. In the past, it has been difficult to know exactly
        where to go if we have a problem that is effecting our studdies, but is
        not strictly academic in nature. This page aims to solve that, and put
        all of the resources in one place.

    </div>
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">What sort of problems does this include?</div>
    <div class="section-content clear">
        <p>
        In short, anything that is having a negative impact on your ability
        to study, or otherwise do the things you want to do. This might
        include, but is definitely not limited to:
        </p>

        <ul>
            <li>Family problems like a bereavement, or sepparation of parents.</li>
            <li>Problems with flatmates or friends, whether in real life or
                online in discussion forums like Facebook, Twitter, Yik-Yak
                and Snapchat. It also covers problems working with other
                people in group projects.</li>
            <li>Struggling to cope with deadlines. This might be balancing you
                effort between multiple assignments, or simply finding the
                stress of it all is stopping you being as capable as you feel
                you should be. We all get stressed, it is part of the course.
                A certain amount of stress can be motivational, even healthy.
                The moment it begins to effect your day to day happiness or
                will and ability to function as a person, then it is a good
                idea to seek help.</li>
            <li>If you had a pre-existing problem when you arrived at 
                university and want to know what support is available. This
                might be a physical or mental illness, special requirements
                for exams, or anything you have needed help for in the past. It
                need not be something <i>official</i>, university can be a
                good opportunity to seek help for a problem you've not looked 
                to solve before.</li>
            <li>Any sort of trouble with sexism, homophobia, racism, 
                transphobia, ableism or discrimination of any kind. Whether you
                experience this yourself, or as something you have witnessed as
                a 3rd party.</li>
        </ul>
        
        <p>
        It is worth giving special mention to two subjects in particular. We 
        do not hold them to be more or less important than others mentioned,
        time has shown that they are encountered a disproportionate amount both
        at Bristol, and in the wider Computer Science community.
        </p>
        
        <p>
        <b>Stress &amp; Mental Health</b><br/>
        Lorem ipsum doler set amet.
        </p>
        
        <p>
        <b>Nastiness In Online Discussion Spaces</b><br/>
        Lorem ipsum doler set amet.
        </p>

        <p>
        Again, none of this is supposed to be a definitive list. At the end of
        the day, if you feel that your ability to study is being negatively
        effected by something, then the best thing you can do is seek help as
        soon as possible, and not bottle it up and hope it passes!
        </p>


    </div>
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">What help is on offer?</div>
    <div class="section-content clear">
        Lorem ipsum doler set amet.

    </div>
  </div>
</div>
