<div class="section gradient-up" id="intro-section">
  <div class="inner-section">
    <div class="section-title">Student Health &amp; Support</div>
    <div class="section-content clear">
      <p>
      We are working hard with the department to make sure
      this page be as well-informed as possible. If you think something is
      missing, you can get in touch with someone on 
      <a href="/about">the committee</a>, or you can add the content yourself
      and <a href="">file a pull request</a>. 
      </p>
      
      <p>
      While we sort this page out 
      though, you can use the 
      <a href="https://www.bristolsu.org.uk/justask/welfare/mentalhealth/">Student Union's JustAsk service </a>, or the 
      <a href="http://www.bristol.ac.uk/students/services/mental-health/">Student Health &amp; Counselling Services</a>
      and they are equipped to handle just about everything and anything!
      </p>
    </div>
    
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">Who is this page for?</div>
    <div class="section-content clear">
        Lorem ipsum doler set amet.

    </div>
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">How do I know if I need help?</div>
    <div class="section-content clear">
        Lorem ipsum doler set amet.

    </div>
  </div>
</div>

<div class="section">
  <div class="inner-section">
    <div class="section-title">What help is on offer?</div>
    <div class="section-content clear">
        Lorem ipsum doler set amet.

    </div>
  </div>
</div>
